<div class="row">
  <div class="col-md-6 col-xl-3">
    <a href="/admin/user/list">
    <div class="widget-small primary coloured-icon"><i class="icon fa fa-university fa-3x"></i>
      <div class="info">
        <h4>Organization</h4>
        {{#if data.users}}
        <p><b>{{data.users}}</b></p>
        {{/if}}
      </div>
    </div></a>
  </div>
  <div class="col-md-6 col-xl-3">
    <a href="/admin/user/list">
    <div class="widget-small info coloured-icon"><i class="icon fa fa-users fa-3x"></i>
      <div class="info">
        <h4>Students</h4>
        {{#if data.students}}
        <p><b>{{data.students}}</b></p>
        {{/if}}
      </div>
    </div></a>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="widget-small warning coloured-icon"><i class="icon fa fa-files-o fa-3x"></i>
      <div class="info">
        <h4>Uploads</h4>
        {{#if data.docs}}
        <p><b>{{data.docs}}</b></p>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="widget-small danger coloured-icon"><i class="icon fa fa-star fa-3x"></i>
      <div class="info">
        <h4>Stars</h4>
        <p><b>500</b></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="tile">
      <h3 class="tile-title">Stats</h3>
      <div class="embed-responsive embed-responsive-16by9">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="tile">
      <h3 class="tile-title">Requests</h3>
      <div class="embed-responsive embed-responsive-16by9">
        <canvas class="embed-responsive-item" id="pieChartDemo"></canvas>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="../../js/plugins/chart.js"></script>
<script type="text/javascript">
  var pdata = [
    {
      value: 300,
      color: "#46BFBD",
      highlight: "#5AD3D1",
      label: "Complete"
    },
    {
      value: 50,
      color:"#F7464A",
      highlight: "#FF5A5E",
      label: "In-Progress"
    }
  ]
      
  var ctxp = $("#pieChartDemo").get(0).getContext("2d");
  var pieChart = new Chart(ctxp).Pie(pdata);

</script>