<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <div class="tile-body">
        <div class="table-responsive">
          <table class="table table-hover" id="clientTable">
            <thead>
              <tr>
                <th style="width:25%;">Name</th>
                <th style="width:25%;">Email</th>
                <th style="width:10%;">Education</th>
                <th style="width:10%;">Organization</th>
                <th style="width:10%;">Event</th>
                <th style="width:10%;">Uploaded /<br>Remaining /<br>Docs Total</th>
                <th style="width:10%;">Actions</th>
              </tr>
            </thead>
            <tbody>
              {{#each user}}
              <tr>
                <td><a href="/admin/user/profile?email={{this.email}}">{{this.name}}</a></td>
                <td>{{this.email}}</td>
                <td style="text-align:center;">{{#if this.edu}}<i class="fa fa-check text-primary" aria-hidden="true"></i><p class="hidden">1</p>
                    {{else}}<i class="fa fa-times text-danger" aria-hidden="true"></i><p class="hidden">0</p>
                    {{/if}}</td>
                <td style="text-align:center;">{{#if this.org}}<i class="fa fa-check text-primary" aria-hidden="true"></i><p class="hidden">1</p>
                    {{else}}<i class="fa fa-times text-danger" aria-hidden="true"></i><p class="hidden">0</p>
                    {{/if}}</td>
                <td style="text-align:center;">{{#if this.eve}}<i class="fa fa-check text-primary" aria-hidden="true"></i><p class="hidden">1</p>
                    {{else}}<i class="fa fa-times text-danger" aria-hidden="true"></i><p class="hidden">0</p>
                    {{/if}}</td>
                <td>NI /  NI / {{this.docs}}</td>
                <td><a href="/admin/user/profile?email={{this.email}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Update</a></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

 <!-- Data table plugin
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>-->
<script type="text/javascript" src="../../js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../../js/plugins/dataTables.bootstrap.min.js"></script>

<script type="text/javascript">$('#clientTable').dataTable( { responsive: true,
  "columnDefs": [
    { "orderable": false, "targets": [5, 6] },
    { "searchable": false, "targets": [2, 3, 4, 5, 6]}
  ]
} );</script>