<div class="row">
  <div class="col-xl-2 col-lg-1 col-md-0"></div>
  <div class="col-xl-8 col-lg-10 col-md-12">
    <div class="tile">
      <h3>Update Details</h3>
		  <form action="profile" method="post" name="form" id="form">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="exampleInputEmail1"><b>Email address :</b></label>
              <input class="form-control" id="email" type="email" name="email" placeholder="Enter email" value="{{data.email}}" readonly>
            </div>
            <div class="form-group">
              <label for="Nam"><b>Name :</b></label>
              <input class="form-control" id="name" type="text" placeholder="Enter Name" value="{{data.name}}" readonly>
            </div> 
            <div class="form-group">
              <label for="Authentication"><b>Authentication :</b></label>
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">PUBLIC KEY</span></div>
                <input class="form-control" type="text" name="pubkey" value="{{data.pubkey}}" placeholder="PUBLIC KEY" pattern="^[a-f0-9]+$" title="Only letter, numbers are allowed" / required>
              </div>  
            </div> 
            <div class="form-group">
              <label for="mainpass">Password :</label>
              <input class="form-control" id="passwd" name="passwd" type="password" placeholder="Password">
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 15px;">
          <div class="col-lg-6"></div>
          <div class="col-6 col-lg-3">
            <div class="form-group">
              <button class="btn btn-primary btn-block" id='submit' type="submit" onclick="$('#email').attr('form', 'form')" disabled>Add PUBLIC KEY</button>
            </div>
          </div>
          <div class="col-6 col-lg-3">
            <div class="form-group">
              <button class="btn btn-primary btn-block" type="reset">Clear</button>
            </div>
          </div>
        </div>
      </form>      
			<hr> 
      <form action="upgrade" method="post" id="form2" name="form2">
        <h4>Account Upgrade</h4>
        <div class="form-group">  
          <label for="exampleInputEmail1"><b>Applications :</b></label>
					<div class="toggle lg">
					  <label>
						<input type="checkbox" id="edu" name="edu" value="true" status={{data.edu}}><span class="button-indecator"><p> Educational Institute</p></span>
					  </label>
					</div>
					<div class="toggle lg">
					  <label>
						<input type="checkbox" id="org" name="org" value="true" status={{data.org}}><span class="button-indecator"><p> Public and Private Organisation</p></span>
					  </label>
					</div>
					<div class="toggle lg">
					  <label>
						<input type="checkbox" id="eve" name="eve" value="true" status={{data.eve}}><span class="button-indecator"><p> Events</p></span>
					  </label>
					</div>
        </div>
        <div class="row" style="margin-top: -15px;">
          <div class="col-md-2">
            <div class="toggle-flip">
              <label><b>Payment :</b>
                <input type="checkbox" name="requirePayment"><span class="flip-indecator" data-toggle-on="ON" data-toggle-off="OFF" id="flippingtoggle"></span>
              </label>
            </div>
          </div>
          <div class="col-md-8"></div>
          <div class="col-md-2">
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"  onclick="$('#email').attr('form', 'form2')">Upgrade Account</button>
            </div>  
          </div>
        </div>
      </form>
      <hr>
      <form action="docs" method="post" id="form3" name="form3">
        <h4>Add Certificates</h4>
        <div class="row">
          <div class="col-md-4" style="margin-top: 7px;">
            <label>Currently Available Document Solts :<b> {{data.docs}}</b></label>
          </div>
          <div class="col-md-3" style="margin-top: 7px;">
            <label><b>Enter the no. of Slots to be added : </b></label>
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" name="docs" placeholder="Slot nos" pattern="^[0-9]+$" title="Only numbers are allowed" required>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"  onclick="$('#email').attr('form', 'form3')">Add slots</button>
            </div>  
          </div>
        </div>
			</form>
    </div>
  </div>
</div>
<script>
  $('#passwd').on('input', function() {
    //console.log(document.form.name)
    if(document.form.passwd.value != '')
      $("#submit").removeAttr("disabled");
    else
      $("#submit").attr("disabled", "disabled"); 
  });
  
  $( document ).ready(function() {
    if($('#edu').attr('status')=='true')
      $('#edu').attr('checked', 'checked')
    if ($('#org').attr('status')=='true')
      $('#org').attr('checked', 'checked') 
    if ($('#eve').attr('status')=='true')
      $('#eve').attr('checked', 'checked')
  });
  
</script>
