<div class="row">
  <div class="col-xl-3 col-lg-1 col-md-0"></div>
  <div class="col-xl-6 col-lg-10 col-md-12">
    {{#each error}}
    <div class="row">
      <div class="alert alert-danger col-md-6">{{this.msg}}</div>
    </div>
    {{/each}}
    <div class="tile">
      <form action="/admin/user/add" method="post" name="form" id="form">
        <div class="row">
          <div class="col-lg-12">
            <h3>Register New Issuer Account</h3>
            <label>Please Enter the below required details:</label>
            <div class="form-group">
              <label><b>Name :</b></label>
              <input class="form-control" name="name" id="name" type="text" placeholder="Enter Name"  pattern="^[a-zA-Z. ]+$" title="Only letters and . are allowed"required>
            </div>
            <div class="form-group">
              <label><b>Email address :</b></label>
              <input class="form-control" name="email" id="email" type="email" aria-describedby="emailHelp" placeholder="Enter email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Only letter, numbers and symbols such as ._%+- are allowed" required>
            </div>
            <div class="form-group">
              <label for="usermodals"><b>Applications :</b></label>
              <div class="toggle lg">
                <label>
                  <input type="checkbox" name="edu" value="true"><span class="button-indecator"><p> Educational Institute</p></span>
                </label>
              </div>
              <div class="toggle lg">
                <label>
                  <input type="checkbox" name="org" value="true"><span class="button-indecator"><p> Public and Private Organisation</p></span>
                </label>
              </div>
              <div class="toggle lg">
                <label>
                  <input type="checkbox" name="eve" value="true"><span class="button-indecator"><p> Events</p></span>
                </label>
              </div>
              <label for="payment"><b>Payment :</b></label>
              <div class="toggle-flip">
                <label>
                  <input type="checkbox" name="requirePayment"><span class="flip-indecator" data-toggle-on="ON" data-toggle-off="OFF" id="flippingtoggle"></span>
                </label>
              </div>
            </div>
            <div class="form-group">
              <label>Password :</label>
              <input class="form-control" name="passwd" id="passwd" type="password" placeholder="Enter Password">
            </div>
            <div class="form-group">
              <label>Confirm Password :</label>
              <input class="form-control" id="cpasswd" type="password" placeholder="Repeat Password">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <button type="submit" id='submit' class="btn btn-primary btn-block" disabled>Submit</button>
            </div>  
          </div>
          <div class="col-md-6"></div>
          <div class="col-md-3">
            <div class="form-group">
              <button type="reset" class="btn btn-primary btn-block">Clear</button>
            </div>  
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  $('#cpasswd, #passwd').on('input', function() {
    //console.log(document.form.name)
    if(document.form.passwd.value == document.form.cpasswd.value && document.form.passwd.value != '')
      $("#submit").removeAttr("disabled");
    else
      $("#submit").attr("disabled", "disabled"); 
  });

  $('#email').on('change', function(){
    //console.log('The Document ID is ', this.value)
    $.post("/admin/check.email", {
      email: this.value,
    }, function(data){
      console.log(data);
      if(!data)
        document.getElementById("scrmsg").innerHTML = '\
        <div class="row">\
          <div class="col-sm-12">\
            <div class="alert alert-danger alert-dismissible" style="text-align: center;">\
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>\
              <strong>Email is already registered</strong>\
            </div>\
          </div>\
        </div>'
    });
  })
  $('#name').on('change', function(){
    //console.log('The Document ID is ', this.value)
    $.post("/admin/check.name", {
      name: this.value,
    }, function(data){
      console.log(data);
      if(!data)
        document.getElementById("scrmsg").innerHTML = '\
        <div class="row">\
          <div class="col-sm-12">\
            <div class="alert alert-danger alert-dismissible" style="text-align: center;">\
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>\
              <strong>Client name already exsits</strong>\
            </div>\
          </div>\
        </div>'
    });
  })
</script>
