<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">DocChain</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/user">Dashboard</a></li>
      <li><a href="/">Publish Document</a></li>
      <li><a href="student">Add Student</a></li>
      <li><a href="course">Add Course</a></li>	
      <li><a href="set">Settings</a></li>
      <li><a href="verify">Verification</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>