<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  </head>
  <body class="app sidebar-mini rtl">
    <!-- Navbar-->
    <header class="app-header"><a class="app-header__logo">Admin Panel</a>
      <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
      <!-- Navbar Right Menu-->
      <ul class="app-nav">
        <li><a class="app-nav__item" href="#" data-toggle="tooltip" title="Profile"><i class="fa fa-user fa-lg"></i></a></li>
        <li><a class="app-nav__item" href="#" data-toggle="tooltip" title="Settings"><i class="fa fa-cog fa-lg"></i></a></li>
        <li><a class="app-nav__item" href="/logout" data-toggle="tooltip" title="Logout"><i class="fa fa-sign-out fa-lg"></i></a></li>
      </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
        <div>
          <p class="app-sidebar__user-name">Admin</p>
          <p class="app-sidebar__user-designation">admin@docchain.io</p>
        </div>
      </div>
      <ul class="app-menu">
        <li><a class="app-menu__item" href="/admin"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></a></li>
        <li><a class="app-menu__item" href="/admin/user/add"><i class="app-menu__icon fa fa-plus-circle"></i><span class="app-menu__label">Add Organisation</span></a></li>
      </ul>
    </aside>
	
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-{{icon}}"></i> {{phead}}</h1>
        </div>
      </div>
    <msg id="scrmsg"></msg>
	  {{#if message.success}}
	  <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-success alert-dismissible" style="text-align: center;">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>{{message.success}}</strong>
        </div>
      </div>
	  </div>
	  {{/if}}
	  {{#if message.error}}
	  <div class="row">
		<div class="col-sm-12">
		<div class="alert alert-danger alert-dismissible" style="text-align: center;">
		  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		  <strong>{{message.error}}</strong>
		</div>
		</div>
	  </div>
	  {{/if}}
      {{{body}}}	
    <div class="row" style="height: 60px; line-height: 60px; background-color: #f5f5f5;">
      <div class="col-sm-12" style="text-align:center">
        <span class="text-center text-muted"><strong>All rights reserved. Print2Block&reg 2017.</strong></span>
      </div>
    </div>
	</main>
    <!-- Essential javascripts for application to work
    <script src="../../js/jquery-3.2.1.min.js"></script>-->
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <script>
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
      });
    </script>
</body>