<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  </head>
  <body>
    <!--
    <header>
      <div class="jumbotron text-center">
        <h1>Doc-2-Chain</h1>
        <p>secures certification and authentication</p> 
      </div>
    </header>
 -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">DocChain</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/user">Dashboard</a></li>
          <li><a><span class="glyphicon glyphicon-th-large"></span> MODEL<span class="glyphicon glyphicon--play"></span> EVENT</a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
    <main role="main"  class="container">
    <div class="panel panel-default">
    <div class="panel-body">
      {{#if message.success}}
      <div class="row">
        <div class="col-sm-12">
        <div class="alert alert-success alert-dismissible" style="text-align: center;">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{message.success}}
        </div>
        </div>
      </div>
      {{/if}}
      {{#if message.error}}
      <div class="row">
        <div class="col-sm-12">
        <div class="alert alert-danger alert-dismissible" style="text-align: center;">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{message.error}}
        </div>
        </div>
      </div>
      {{/if}}
      {{{body}}}
    </div>
    </div>
    </main>
<!--
    <div class="row" style="height: 60px; line-height: 60px; background-color: #f5f5f5;">
      <p>Header Goes here</p>
    </div>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-10">
        <div>
          
        </div>
      </div>
    </div>
    -->
    <div class="row" style="height: 60px; line-height: 60px; background-color: #f5f5f5;">
      <div class="container">
        <span class="text-center text-muted">All rights reserved. Print2Block&reg 2017.</span>
      </div>
    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();   
    });
    </script>
  </body>
</html>
