<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title><!--
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script> -->
    <script src="/js/jquery-3.2.1.min.js"></script>
  </head>
  <body>
    {{#if message.success}}
	  <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-success alert-dismissible" style="text-align: center;">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>{{message.success}}</strong>
        </div>
      </div>
	  </div>
	  {{/if}}
	  {{#if message.error}}
	  <div class="row">
		<div class="col-sm-12">
		<div class="alert alert-danger alert-dismissible" style="text-align: center;">
		  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		  <strong>{{message.error}}</strong>
		</div>
		</div>
	  </div>
	  {{/if}}
    <main role="main"  class="container">
      {{{body}}}
    </main>
    
    <footer class="footer" style="height: 60px; line-height: 60px; background-color: #f5f5f5;">
      <div class="container">
        <span class="text-center text-muted">All rights reserved. Print2Block&reg 2017.</span>
      </div>
    </footer>

    <!-- Optional 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    JavaScript -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
