<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://usefulangle.com/sitejs/pdf.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
  </script>
  <title>{{title}}</title>
</head>
<body>
  {{{body}}}
  <p style="display: none"  id="aissuer">{{user._id}}</p>
  <script>
    document.getElementById("info").onclick = function () {
      document.getElementById("first").style.display = "block";
      document.getElementById("side").style.display = "none";
    }

    document.getElementById("doc").onclick = function () {
      document.getElementById("side").style.display = "block";
      document.getElementById("first").style.display = "none";
    }
    $('.carousel').carousel({
			interval: false
    });
		$(".carousel-control-prev-icon").on('click', function() {
			console.log("Prev")
		});
		$(".carousel-control-next-icon").on('click', function() {
			console.log("Next")
		});
    {{#if verify}}
      var _0x2275=['GET','https://analytics.print2block.ml/verify?issuer=','getElementById','innerText','&doc=','docid','send','open'];(function(_0x41bdc0,_0x3b9b28){var _0x2f8a0c=function(_0x2436d9){while(--_0x2436d9){_0x41bdc0['push'](_0x41bdc0['shift']());}};_0x2f8a0c(++_0x3b9b28);}(_0x2275,0x1cf));var _0x5499=function(_0x1230b7,_0x4f1b4c){_0x1230b7=_0x1230b7-0x0;var _0x3f4da5=_0x2275[_0x1230b7];return _0x3f4da5;};let xhr_verify=new XMLHttpRequest();xhr_verify[_0x5499('0x0')](_0x5499('0x1'),_0x5499('0x2')+document[_0x5499('0x3')]('aissuer')[_0x5499('0x4')]+_0x5499('0x5')+document[_0x5499('0x3')](_0x5499('0x6'))[_0x5499('0x4')],!![]);xhr_verify[_0x5499('0x7')]();
    {{else}}
      var _0xfdc8=['https://analytics.print2block.ml/device?platform=','&core=','hardwareConcurrency','&ram=','GET','https://analytics.print2block.ml/view?issuer=','getElementById','aissuer','innerText','&doc=','docid','send','open'];(function(_0x269138,_0x1fe188){var _0x40fc2e=function(_0x9de4e1){while(--_0x9de4e1){_0x269138['push'](_0x269138['shift']());}};_0x40fc2e(++_0x1fe188);}(_0xfdc8,0x1d8));var _0x148a=function(_0x5f3371,_0x374bb9){_0x5f3371=_0x5f3371-0x0;var _0x4f4517=_0xfdc8[_0x5f3371];return _0x4f4517;};let xhr_view=new XMLHttpRequest();xhr_view['open'](_0x148a('0x0'),_0x148a('0x1')+document[_0x148a('0x2')](_0x148a('0x3'))[_0x148a('0x4')]+_0x148a('0x5')+document['getElementById'](_0x148a('0x6'))[_0x148a('0x4')],!![]);xhr_view[_0x148a('0x7')]();let xhr_device=new XMLHttpRequest();xhr_device[_0x148a('0x8')](_0x148a('0x0'),_0x148a('0x9')+navigator['platform']+_0x148a('0xa')+navigator[_0x148a('0xb')]+_0x148a('0xc')+navigator['deviceMemory'],!![]);xhr_device['send']();
    {{/if}}
    $("button.download-btn").on('click', function() {
      var _0x4f9b=['GET','https://analytics.print2block.ml/download?issuer=','getElementById','aissuer','innerText','&doc=','docid','send','open'];(function(_0x1a38dc,_0x4ee691){var _0x2178da=function(_0xc183a7){while(--_0xc183a7){_0x1a38dc['push'](_0x1a38dc['shift']());}};_0x2178da(++_0x4ee691);}(_0x4f9b,0xb3));var _0x3667=function(_0x156a55,_0x1f6354){_0x156a55=_0x156a55-0x0;var _0x8291e3=_0x4f9b[_0x156a55];return _0x8291e3;};let xhr_download=new XMLHttpRequest();xhr_download[_0x3667('0x0')](_0x3667('0x1'),_0x3667('0x2')+document[_0x3667('0x3')](_0x3667('0x4'))[_0x3667('0x5')]+_0x3667('0x6')+document[_0x3667('0x3')](_0x3667('0x7'))[_0x3667('0x5')],!![]);xhr_download[_0x3667('0x8')]();
    });

  </script>
</body>
</html>