<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Main CSS-->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <!-- Font-icon css-->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/js/jquery-3.2.1.min.js"></script>
</head>
<body class="app sidebar-mini rtl">
  <!-- Navbar-->
  <header class="app-header"><a class="app-header__logo" href="/">DocChain.io</a>
    <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">
      <li><a class="app-nav__item" href="/univ" data-toggle="tooltip" title="Profile"><i class="fa fa-user fa-lg"></i></a></li>
      <li><a class="app-nav__item" href="/univ/settings" data-toggle="tooltip" title="Settings"><i class="fa fa-cog fa-lg"></i></a></li>
      <li><a class="app-nav__item" href="/logout" data-toggle="tooltip" title="Logout"><i class="fa fa-sign-out fa-lg"></i></a></li>
    </ul>
  </header>
  <!-- Sidebar menu-->
  <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
  <aside class="app-sidebar">
    <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="{{user.pic}}" onerror="this.src='/img/univ.jpeg'">
      <div>
        <p class="app-sidebar__user-name">{{user.name}}</p>
        <p class="app-sidebar__user-designation">{{user.email}}</p>
      </div>
    </div>
    <ul class="app-menu">
      <li><a class="app-menu__item" href="/user"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></a></li>
      <li><a class="app-menu__item" href="/univ/new"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">Publish Document</span></a></li>
      <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-plus-circle"></i><span class="app-menu__label">Student's Section</span></a>
        <ul class="treeview-menu">
          <li><a class="treeview-item" href="/univ/student/add"><i class="icon fa fa-circle-o"></i> Add Student</a></li>
          <li><a class="treeview-item" href="/univ/student/enroll" rel="noopener"><i class="icon fa fa-circle-o"></i> Enroll Student</a></li>
        </ul>
      </li>
      <li><a class="app-menu__item" href="/univ/course"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Add Course</span></a></li>
      <li><a class="app-menu__item" href="/univ/settings"><i class="app-menu__icon fa fa-cog"></i><span class="app-menu__label">Settings</span></a></li>
    </ul>
  </aside>
  <main class="app-content">
    <div class="app-title">
      <div>
        <h1><i class="fa fa-{{icon}}"></i> {{phead}}</h1>
      </div>
    </div>
    <msg id="scrmsg"></msg>
    {{#if message.success}}
    {{#each message.success}}
	  <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-success alert-dismissible" style="text-align: center;">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>{{this}}</strong>
        </div>
      </div>
	  </div>
    {{/each}}
	  {{/if}}
	  {{#if message.error}}
    {{#each message.error}}
	  <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-danger alert-dismissible" style="text-align: center;">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>{{this}}</strong>
        </div>
      </div>
	  </div>
    {{/each}}
	  {{/if}}
    {{{body}}}
    <div class="row" style="height: 60px; line-height: 60px; background-color: #f5f5f5;">
      <div class="col-sm-12" style="text-align:center">
        <span class="text-center text-muted"><strong>All rights reserved. Print2Block&reg 2017.</strong></span>
      </div>
    </div>
  </main>
  <!-- Essential javascripts for application to work-->
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/main.js"></script>
  <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip(); 
    });
  </script>
</body>