<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Main CSS-->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <!-- Font-icon css-->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="/js/jquery-3.2.1.min.js"></script>
</head>
<body class="app sidebar-mini rtl">
  <!-- Navbar-->
  <header class="app-header"><a class="app-header__logo" href="/">DocChain.io</a>
    <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">
      <li><a class="app-nav__item" href="/user"  data-toggle="tooltip" title="Profile"><i class="fa fa-user fa-lg"></i></a></li>
      <li><a class="app-nav__item" href="/user/settings"  data-toggle="tooltip" title="Settings"><i class="fa fa-cog fa-lg"></i></a></li>
      <li><a class="app-nav__item" href="/logout"  data-toggle="tooltip" title="Logout"><i class="fa fa-sign-out fa-lg"></i></a></li>
    </ul>
  </header>
  <!-- Sidebar menu-->
  <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
  <aside class="app-sidebar">
    <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="{{user.pic}}" onerror="this.src='https://u.imageresize.org/e72c2e49-7818-4c94-92a8-7991f872b0a1.jpeg'">
      <div>
        <p class="app-sidebar__user-name">{{user.name}}</p>
        <p class="app-sidebar__user-designation">{{user.email}}</p>
      </div>
    </div>
    <ul class="app-menu">
      <li><a class="app-menu__item active" href="/user"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></a></li>
      <li><a class="app-menu__item" href="/user/support"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Support</span></a></li>
      <li><a class="app-menu__item" href="/user/settings"><i class="app-menu__icon fa fa-cog"></i><span class="app-menu__label">Settings</span></a></li>
    </ul>
  </aside>
  <main class="app-content">
    <div class="app-title">
      <div>
        {{cTitle}}
      </div>
    </div>
    {{#if message.success}}
	  <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-success alert-dismissible" style="text-align: center;">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>{{message.success}}</strong>
        </div>
      </div>
	  </div>
	  {{/if}}
	  {{#if message.error}}
	  <div class="row">
		<div class="col-sm-12">
		<div class="alert alert-danger alert-dismissible" style="text-align: center;">
		  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		  <strong>{{message.error}}</strong>
		</div>
		</div>
	  </div>
	  {{/if}}
    {{{body}}}
    <div class="row" style="height: 60px; line-height: 60px; background-color: #f5f5f5;">
      <div class="col-sm-12" style="text-align:center">
        <span class="text-center text-muted"><strong>All rights reserved. Print2Block&reg 2017.</strong></span>
      </div>
    </div>
  </main>
  <!-- Essential javascripts for application to work-->
  <script src="../../js/popper.min.js"></script>
  <script src="../../js/bootstrap.min.js"></script>
  <script src="../../js/main.js"></script> 
</body>