* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #ffffff;
  height: 100vh;
}

.alignment{
  padding: 0 80px;
}
 
.alert-success{
  color: #28a745;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  border-radius: 5px;
}

.blue-btn{
  color: #ffffff;
  line-height: 1.5;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  border-radius: 18px;
  background-color: #0083e3;
  box-shadow: 0px 5px 6px -5px rgba(0, 0, 0, 0.4);
}

.blue-btn:hover{
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.4);
}

.modal-header{
  background-color: #0083e3;
  color: #fff;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}
.table td{
  padding: .30rem;
}

.footer-custom {
  margin-top: 30px;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  text-align: center;
}

.navbar {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  line-height: 2.3;
}

.navbar-brand,
.back-text {
  font-size: 16px;
  font-weight: 500;
  color: #414141;
  letter-spacing: normal;
}

.modal-dialog {
  max-width: 700px;
  margin: 1.75rem auto;
}

.navbar a:hover {
  color: unset;
}

.document-section {
  padding: 40px 35px 0px;
}

.document-section .document-header-bg {
  background: url("../img/img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 5px;
  min-height: 200px;
  position: relative;
}
.document-section .document-header-bg .bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 200px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.document-section .document-header-qr {
  padding: 83px 18px 18px;
}

.document-section .document-header-text-wrap {
  padding: 118px 30px 30px;
  position: absolute;
  bottom: 15px;
  left: 100px;
}

.document-section .document-header-text-wrap h5,
.document-mobile .document-header-text-wrap h5 {
  font-family: Arial;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1.17;
}
.document-section .document-header-text-wrap p,
.document-mobile .document-header-text-wrap p {
  font-family: Arial;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.17;
  color: #ffffff;
}
.document-section .detail-wrap p,
.document-mobile,
.detail-mob-wrapper p {
  color: #969696;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.38;
}
.document-section .detail-wrap h6,
.document-mobile,
.detail-mob-wrapper h6 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.36;
  color: #414141;
}
.document-section .custom-btn,
.document-mobile .custom-btn {
  color: #ffffff;
  line-height: 1.5;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  border-radius: 18px;
  background-color: #0083e3;
  box-shadow: 0px 5px 6px -5px rgba(0, 0, 0, 0.4);
}
.document-section .custom-btn:hover {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.4);
}
.document-section .content-text-wrapper {
  padding: 30px 30px 25px;
  border-radius: 5px;
  border: solid 1px #dbf0ff;
}
.document-section .content-text-wrapper p,
.para-mob-wrap p {
  color: #414141;
  font-size: 16px;
  line-height: 2;
  font-weight: normal;
}

.footer-btn-section .download-btn {
  text-align: center;
  color: #0083e3;
  font-size: 16px;
  font-weight: normal;
  border-radius: 18px;
  border: solid 1px #0083e3;
  background-color: #ffffff;
  line-height: 1.4;
}

/* CSS for TAB and MOB */
.document-mobile {
  padding: 25px;
}

.document-mobile .document-header-bg {
  background: url("../img/img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 5px;
  min-height: 190px;
  position: relative;
}
.document-mobile .document-header-bg .bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 190px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.document-mobile .document-header-qr {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.document-mobile .img-width {
width: 85px;  
}  

.document-mobile .document-header-text-wrap {
  position: absolute;
  bottom: 100px;
  left: 20px;
}

.document-mobile .document-header-btn-group{
  position: absolute;
  bottom: 20px;
  left: 125px;
}

.document-mobile .document-header-btn-group button {
  margin-top: 20px
}

.document-mobile .view-doc-mob-btn {
  border-radius: 18px;
  border: solid 1px #ffffff;
  background: transparent;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: normal;
}

.para-mob-wrap {
  padding: 20px 20px 30px;
  border: solid 1px #dbf0ff;
  border-radius: 5px;
}

.carousel-control-prev {
  width: unset;
  align-items: unset;
  bottom: -40px;
  text-align: unset;
  top: unset;
  opacity: 1;
}
.carousel-control-next {
  width: unset;
  align-items: unset;
  bottom: -40px;
  text-align: unset;
  top: unset;
  right: unset;
  left: 30px;
  opacity: 1;
}
.carousel-control-next:hover,
.carousel-control-prev:hover {
  color: unset;
  outline: unset;
  opacity: 1;
}
.carousel-control-next-icon {
  background-image: url("../img/right.svg");
  width: 25px;
}

.carousel-control-prev-icon {
  width: 25px;
  background-image: url("../img/left.svg");
}
.footer p{
  color: #414141;
  font-size: 16px;
  width:100%;
  font-weight: normal;
  text-align:center;
  position:absolute;
  left:0
}
/* ipad */
@media (min-width: 768px) and (max-width: 1023px) {
  .document-mobile .document-header-qr {
    position: absolute;
    bottom: 25px;
    left: 25px;
  }
  
  .document-mobile .document-header-text-wrap {
    position: absolute;
    bottom: 100px;
    left: 25px;
  }

  .document-mobile .document-header-btn-group{
    position: absolute;
    bottom: 25px;
    left: 135px;
  }
  
  .document-mobile .img-width {
	  width: 85px;  
  }  
}
/* ipad pro */
@media (min-width: 1024px) and (max-width: 1199px) {
  .document-mobile .document-header-qr {
    position: absolute;
    bottom: 25px;
    left: 25px;
  }
  
  .document-mobile .document-header-text-wrap {
    position: absolute;
    bottom: 100px;
    left: 25px;
  }

  .document-mobile .document-header-btn-group{
    position: absolute;
    bottom: 25px;
    left: 135px;
  }
}
/* mobile screens */
@media (max-width: 480px) {
 
  .alignment{
    padding: 0 20px;
  }
 .verification-text{
   text-align: center;
 }  
}
