<div>
<h3>Change Password</h3>
<form action="changepwd" method="POST" name="form">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Password:</label>
        <input type="password" class="form-control" name="passwd" id="passwd" placeholder="Enter Password">
      </div>
      <div class="form-group">
        <label>Confirm Password:</label>
        <input type="password" class="form-control" id="cpasswd" placeholder="Repeat Password">
      </div>             
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <button type="submit" id='submit' class="btn btn-primary btn-block" disabled>Submit</button>
      </div>  
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <div class="form-group">
        <button type="reset" class="btn btn-primary btn-block">Clear</button>
      </div>  
    </div>
  </div> 
</form>
</div>
<script>
$('#cpasswd, #passwd').on('input', function() {
  //console.log(document.form.name.value)
  if(document.form.passwd.value == document.form.cpasswd.value && document.form.passwd.value != '')
    $("#submit").removeAttr("disabled");
  else
    $("#submit").attr("disabled", "disabled"); 
});
</script>