<div>
  <h2><Strong>{{user.name}}</Strong></h2>
  <h4>{{user.email}}</h4>
  <h4>{{user.id}}</h4><!--
  <form action="/user/changemodel" method="post" class="form-inline" name="modelform">
    <label>User Model  </label>
    <select class="form-control">
      <option value="edu">Educational Institute</option>
      <option value="org">Private & Public Organisation</option>
      <option value="eve">Event</option>
    </select>
  </form>-->
</div>
<hr>
<div>
  <h3>Dashboard</h3>
  <p>Stats gohere</p>
  <p>UNIV MODEL is being integrated</p>
  <p>Other MODELS are in development</p>
  <p>Document slots available: <strong>{{user.docs}}</strong></p>
  <p>Current model: <strong>{{user.model}}</strong></p>
  <br>
  <form action="/user/changemodel" method="post" class="form-inline" name="modelform">
    <div class="row">
      <div class="col-md-3"><label>Choose UI Model</label></div>
      <div class="col-md-3">
        {{#if user.edu}}
        <button type="submit" name="model" value="edu" class="btn btn-primary btn-block">Educational Institute</button>
        {{else}}
        <button type="submit" name="model" value="edu" class="btn btn-primary btn-block" disabled>Educational Institute</button>
        {{/if}}
      </div>
      <div class="col-md-3">
        {{#if user.org}}
        <button type="submit" name="model" value="org" class="btn btn-primary btn-block">Private & Public Organisation</button>
        {{else}}
        <button type="submit" name="model" value="org" class="btn btn-primary btn-block" disabled>Private & Public Organisation</button>
        {{/if}}
      </div>
      <div class="col-md-3">
        {{#if user.eve}}
        <button type="submit" name="model" value="eve" class="btn btn-primary btn-block">Event</button>
        {{else}}
        <button type="submit" name="model" value="eve" class="btn btn-primary btn-block" disabled>Event</button>
        {{/if}}
      </div>
    </div>
  </form>
</div>
<hr>
<div>
  <h3>Account Management Functions</h3>
  <h4>Change Password</h4>
  <form action="/user/changepwd" method="POST" name="form">
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label>Old Password:</label>
          <input type="password" class="form-control" name="oldpasswd" placeholder="Enter Old Password">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>New Password:</label>
          <input type="password" class="form-control" name="passwd" id="passwd" placeholder="Enter New Password">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Confirm Password:</label>
          <input type="password" class="form-control" id="cpasswd" placeholder="Repeat Password">
        </div>             
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <br>
        <div class="form-group">
          <button type="reset" class="btn btn-primary btn-block">Clear</button>
        </div>  
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <br>
          <button type="submit" id='submit' class="btn btn-primary btn-block" disabled>Submit</button>
        </div>  
      </div>
    </div> 
  </form>
</div>
<script>
$('#cpasswd, #passwd').on('input', function() {
  //console.log(document.form.name.value)
  if(document.form.passwd.value == document.form.cpasswd.value && document.form.passwd.value != '')
    $("#submit").removeAttr("disabled");
  else
    $("#submit").attr("disabled", "disabled"); 
});

</script>