<div>
    <h2><Strong>{{user.name}}</Strong></h2>
    <h4>{{user.email}}</h4>
    <h4>{{user.id}}</h4>
</div>
<hr>
<div>
    <h3>Account Info</h3>
    <form action="user/info" method="POST" name="form">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter Name" value="{{user.name}}" required>
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter Email" value="{{user.email}}" readonly>
                </div>        
            </div>
        </div>
    </form>
</div>
<script>
</script>