<h3><strong>Profile</strong></h3>
<div class="row">
  <div class="col-md-8">
    <table class="table">
      <tbody style="border: 1px solid #ccc;">
        <tr>
        <td><b>Name</b></td>
        <td>:</td>
        <td>{{data.name}}</td>
        </tr>
        <tr>
        <td><b>DocChain ID</b></td>
        <td>:</td>
        <td>{{data.dcid}}</td>
        </tr>
        <tr>
        <td><b>Email</b></td>
        <td>:</td>
        <td>{{data.email}}</td>
        </tr>
        <tr>
        <td><b>Course Details</b></td>
        <td></td>
        <td></td>
        </tr>
        {{#if data.degType}}
          <tr>
          <td></td>
          <td></td>
          <td><b>Course Types</b></td>
          </tr>
          {{#each data.degType}}
          <tr>
          <td></td>
          <td>:</td>
          <td>{{this}}</td>
          </tr>
          {{/each}}
        {{/if}}
        {{#if data.degree}}
          <tr>
          <td></td>
          <td></td>
          <td><b>Degrees</b></td>
          </tr>
          {{#each data.degree}}
          <tr>
          <td></td>
          <td>:</td>
          <td>{{this}}</td>
          </tr>
          {{/each}}
        {{/if}}
        {{#if data.course}}
          <tr>
          <td></td>
          <td></td>
          <td><b>Courses</b></td>
          </tr>
          {{#each data.course}}
          <tr>
          <td></td>
          <td>:</td>
          <td>{{this}}</td>
          </tr>
          {{/each}}
        {{/if}}
        <tr>
        <td><b>Document Types</b></td>
        <td></td>
        <td></td>
        </tr>
        {{#each data.docType}}
        <tr>
          <td></td>
          <td>:</td>
          <td>{{this}}</td>
        </tr>
        {{/each}}
        <tr>
          <td><b>University URL</b></td>
          <td>:</td>
          <td>{{data.issuerURL}}</td>
        </tr>
        <tr>
        <td><b>Signatory</b></td>
        <td></td>
        <td></td>
        </tr>
        {{#each data.signatory}}
        <tr>
          <td></td>
          <td>:</td>
          <td>{{this}}</td>
        </tr>
        {{/each}}
        <tr>
          <td><b>Authorisation Method</b></td>
          <td></td>
          {{#if data.isRSA}}
          <td>ECDSA</td>
          {{else}}
          <td>RSA</td>
          {{/if}}
        </tr>
        <tr>
          <td><b>PUBLIC key</b></td>
          <td>:</td>
          <td style="word-break: break-all; max-width:400px;">{{data.pubkey}}</td>
        </tr>
      </tbody>
    </table>
  </div>  
</div>