<div class="panel panel-default"> 
<div class="panel-heading" style="text-align: right; font-size: 1.15em">This Document is Issued on <strong>{{data.issuer}}</strong> Blockchain, powered by: <strong>DocChain.io</strong></div>
<div class="panel-body">
  <div class="col-md-12">
    <div class="row">
      <h2>{{data.issuer}}</h2>
      <h3 style="margin-bottom: 0">{{data.udocId}}</h3>
    </div>
    <div style="text-align: center">
      <img src="../../{{data.issuerId}}/{{data.filename}}" width="70%">
    </div>
    <br>
    <div style="text-align: center; font-size: 1.15em">
      <h4 style="word-wrap: break-word;"><b>Hash (SHA256): </b>{{data.hash}}</h4><br>
      <h4 style="word-wrap: break-word;"><b>Block ID : </b>{{data.txId}}</h4><br>
      <br>
    </div>
    <!-- 
    <button class="btn btn-primary col-md-4" data-toggle="collapse" data-target="#info">More Info</button>
    -->
    {{#unless verify}}
    <form method="post" action=/org/certificate/{{data.p2bId}}>
		<div class = "row">
      <div class="col-md-5"></div>
      <div class="col-md-2">
				<button type="submit" style="font-size: 1.15em" class="btn btn-primary btn-block" onclick="showVerify()"><strong>Verify</strong></button>
      </div>
    </div>
    </form><br>
    {{/unless}}
      
    <div id="verify" style="font-size: 1.2em">
      <div class="row">
        <div class="content">
          <h4 style="font-weight: bold">Verification</h4>
          {{#if verify}}
          <p id="msgwait" style="font-size: 1.2em">Please wait until the verification process is complete<span id="type" style="font-size: 2.5em; line-height: 40%;"></span></p>
          {{else}}
          <p style="font-size: 1.2em">Please wait while we are initiating the verification process on the blockchain<span id="type" style="font-size: 2em; line-height: 1em;"></span></p>
          {{/if}}
        </div>
      </div>
      {{#if verify}}
      <div class="row">
        <p class="col-md-2"></p>
        <p class="col-md-7" style="font-weight: bold">Fetching Encrypted Hash from Blockchain</p>
        <p class="col-md-2" style="text-align: center;"><img id="fig[1]"</p>
      </div>
      <div class="row">
        <p class="col-md-2"></p>
        <p class="col-md-7" style="font-weight: bold">Fetching Document</p>
        <p class="col-md-2" style="text-align: center;"><img id="fig[2]"></p>
      </div>
      <div class="row">
        <p class="col-md-2"></p>
        <p class="col-md-7" style="font-weight: bold">Generating Hash and Comparing</p>
        <p class="col-md-2" style="text-align: center;"><img id="fig[3]"></p>
      </div>
      <div class="row">
        <p class="col-md-2"></p>
        <p class="col-md-7" style="font-weight: bold">Verifying Crytographic Signatures</p>
        <p class="col-md-2" style="text-align: center;"><img id="fig[4]"></p>
      </div>
      <div class="row">
        <p class="col-md-2"></p>
        <p class="col-md-7" style="font-weight: bold">Checking Revocation Status</p>
        <p class="col-md-2" style="text-align: center;"><img id="fig[5]"></p>
      </div>
      {{else}}
      <div class="row">
        <div style="text-align: center;">
          <img src="../../img/loader.gif" width="8%">
        </div>
      </div>
      {{/if}}
      {{#if verify}}
      <div class="row">
          <div class="content" id="msg"></div>
      </div>
      
      <div class="row" style="font-size: 1.15em; display: none" id="vermsg">
        <div class="col-md-8">
          <p><b style="background-color: #8cc800;">Verified On:</b><span style="background-color: #FFEB3B;"> <span id="verdate"></span> UTC.</span></p>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#merkel" onclick="getProof()">Public Audit Proof</button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#info">More Info</button>
        </div>          
      </div>
      {{/if}}
    </div>
  </div>
</div>
{{#if verify}}
<div class="modal fade" id="info" role="dialog">
  <div class="modal-dialog modal-md-9">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #428bca">
        <button type="button" class="close" data-dismiss="modal" onclick="document.getElementById('aadhar').style = 'display: none'">&times;</button>
        <h4 class="modal-title" style="color: white">More Info</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8">
            <table class="table">
              <tbody style="border: 1px solid #ccc;">
                <tr>
                <td>Vendors's Name</td>
                <td>:</td>
                <td>{{info.student.fname}} {{info.student.mname}} {{info.student.lname}}</td>
                </tr>
                <tr>
                <td>Email Id</td>
                <td>:</td>
                <td>{{info.email}}</td>
                </tr>
                <tr>
                <td>Phone No</td>
                <td>:</td>
                <td>{{info.phoneno}}</td>
                </tr>
                <tr>
                <td>Vendor Id</td>
                <td>:</td>
                <td>{{info._id}}</td>
                </tr>
                <tr>
                <td>Invoice ID</td>
                <td>:</td>
                <td>{{data.udocId}}</td>
                </tr>
              </tbody>
            </table>
          </div>        
          <div class="col-md-4" >
            <img src="../../vendors/{{info.pic}}" class="thumbnail" width="150px">
          </div>
        </div>

      </div>
      <div class="modal-footer" style="background-color: #f5f5f5">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="document.getElementById('aadhar').style = 'display: none'">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="merkel" role="dialog">
  <div class="modal-dialog modal-md-9">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #428bca">
        <button type="button" class="close" data-dismiss="modal" onclick="document.getElementById('proofload').style = 'display: default';document.getElementById('proof').style = 'display: none'">&times;</button>
        <h4 class="modal-title" style="color: white">Public Audit Proof</h4>
      </div>
      <div class="modal-body">
        <div id="proofload">
          <p>Connecting to Ethereum...</p>
          <div style="text-align: center;">
            <img src="../../img/loader.gif" width="8%">
          </div>
        </div>
        <div class="row" id="proof" style="display: none">
          <div class="col-md-12">
            <p><b>Contract Address</b>: <a href="https://rinkeby.etherscan.io/address/0x7a93d6331ec82fb84f01e908f5b10335a395c9da" target="_blank">0x7A93D6331EC82Fb84f01E908f5b10335A395c9DA</a></p>
            <p><b>Contract ABI</b>: <a href="http://172.104.170.157:9090/abi.json" target="_blank">Download  ABI JSON</a></p>
            <p><b>PubicAudit TX : </b><a href="https://rinkeby.etherscan.io/tx/{{data.PAtxId}}" target="_blank">{{data.PAtxId}}</a></p>
            <p><b>Merkel Leaf ID</b>: {{data.PAleafId}}</p>
            <p><b>Merkel Leaf Hash</b>: <span id="leafhash"></span></p>
            <p><b>Merkel Tree Root</b>: <span id="treeroot"></span></p>
            <p><b>Merkel Leaf Path</b>: <br>
              <span id="merkelpath"></span>
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="background-color: #f5f5f5">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="document.getElementById('proof').style = 'display: none';document.getElementById('proofload').style = 'display: default'">Close</button>
      </div>
    </div>
  </div>
</div>
{{/if}}
<!--
<div class="panel-footer" style="height: 60px; line-height: 60px; background-color: #f5f5f5;">
    <div style="text-align: center">
        <p>All rights reserved. Print2Block&reg 2018.</p>
    </div>
</div>-->
</div>

<script>
var a;

  if(''=='{{stat}}')
    a = 0
  else
    a = '{{stat}}';
  
console.log(a);
{{#if verify}}
  setDelayImg()
  verifyAnim(a)
{{/if}}
  verifyMsg(a)
{{#if verify}}
function setDelayImg(){
  for(i = 1; i<6; i++){
    var img = document.getElementById("fig["+i+"]")
    img.src = "../../icons/wait.png";
    //img.width = "25px";
  }
}

function verifyAnim(a){
  for (var i = 1; i < 6; i++) {
    (function (i, a) {
      if (a)
        setTimeout(function () {
          var img = document.getElementById("fig["+i+"]")
          img.src = "../../icons/bad.png";
          if(a>=i)
            img.src = "../../icons/ok.png";
        }, 1500*i);
    })(i, a);
  };
}

function msgGood(){
  var msg = document.getElementById("msg")
  msg.style = "text-align: center; font-size: 1.15em"
  msg.className = "alert alert-success col-md-12"
  msg.innerHTML = "<p><strong>Success! </strong>This certificate is verified.</p>"
  document.getElementById("msgwait").style = "display: none"
  document.getElementById("vermsg").style = "display: default"
  document.getElementById('verdate').innerHTML = new Date().toISOString();
  scrollToBottom()
}

function msgBad(){
  var msg = document.getElementById("msg")
  msg.style = "text-align: center; font-size: 1.15em"
  msg.innerHTML = "<p><strong>Failed </strong>This certificate may be forged.</p>"
  msg.className = "alert alert-danger col-md-12"
  document.getElementById("msgwait").style = "display: none"
  scrollToBottom()
}
{{/if}}
function verifyMsg(a){
	{{#if verify}}
  if(a==5){
    setTimeout(msgGood, 7500)
    scrollToBottom()
  }
  if (a<5 && a!=0){
    setTimeout(msgBad, 7500)
    scrollToBottom()
  }
  {{/if}}
  if (a==0)
    document.getElementById("verify").style = "display: none"
}

function scrollToBottom() {
	$('html, body').animate({scrollTop:$(document).height()}, 'fast');
}

function showVerify(){
  document.getElementById("verify").style = "display: default"
  scrollToBottom()
}

function getProof(){
  $.post("/proof", {
      id: '{{data.PAleafId}}'
    },function(data){
      console.log(data)
      document.getElementById("proofload").style = "display: none"
      document.getElementById("proof").style = "display: default"
      //document.getElementById("proofmsg").innerText = JSON.stringify(data)
      document.getElementById('leafhash').innerText = data.value
      document.getElementById('treeroot').innerText = data.root
      var path = data.path
      path = path.replace(/[^a-zA-Z:, ]/g, "")
      path = path.replace(/[$,]/g, "\n")
      document.getElementById('merkelpath').innerText = path
    })
}

</script>
<script>
	$.fn.typer = function(text, options){
		options = $.extend({}, {
			char: ' ',
			delay: 200,
			duration: 4000,
			endless: true
		}, options || text);

		text = $.isPlainObject(text) ? options.text : text;

		var elem = $(this),
			isTag = false,
			c = 0;
		
		(function typetext(i) {
			var e = ({string:1, number:1}[typeof text] ? text : text[i]) + options.char,
				char = e.substr(c++, 1);

			if( char === '<' ){ isTag = true; }
			if( char === '>' ){ isTag = false; }
			elem.html(e.substr(0, c));
			if(c <= e.length){
				if( isTag ){
					typetext(i);
				} else {
					setTimeout(typetext, options.duration/10, i);
				}
			} else {
				c = 0;
				i++;
				
				if (i === text.length && !options.endless) {
					return;
				} else if (i === text.length) {
					i = 0;
				}
				setTimeout(typetext, options.delay, i);
			}
		})(0);
	};
	$('#type').typer(['....']);
</script>
