<div class="row" id="erdiv" style="display: none">
  <div class="col-md-12">
    <div class="alert alert-danger">
      <strong>Error! </strong><span id="ermsg"></span>
    </div>
  </div>
</div>
<div class="tile">
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <table class="table">
      <tbody>
        <tr>
          <td>Step 1:</td>
          <td><p style="font-weight: bold">Verifying Issuer Domain</p></td>
          <td><img src="/icons/ok.png" width="20px"></td>
        </tr>
        <tr>
          <td>Step 2:</td>
          <td><p style="font-weight: bold">Generating Document Hash</p></td>
          <td><img id="fig[1]" width="20px"></td>
        </tr>
        <tr>
          <td>Step 3:</td>
          <td><p style="font-weight: bold">Verifying Issuer Signature</p></td>
          <td><img id="fig[2]" width="20px"></td>
        </tr>
        <tr>
          <td>Step 4:</td>
          <td><p style="font-weight: bold">Uploading File</p></td>
          <td><img id="fig[3]" width="20px"></td>
        </tr>
        <tr>
          <td>Step 5:</td>
          <td><p style="font-weight: bold">Publishing On Blockchain</p></td>
          <td><img id="fig[4]" width="20px"></td>
        </tr>
        <tr>
          <td>Step 6:</td>
          <td><p style="font-weight: bold">Generating True Copy Link</p></td>
          <td><img id="fig[5]" width="20px"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-2"></div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:0%" id="progress">Generating_Document_Hash</div>
    </div>
  </div>  
</div>
<br>
<div class="text-center" style="font-size: 1.2em">
  <p><b>Hash (SHA256): </b><span id="hash">Generating Hash...</span></p><br>
  <p><b>Transaction ID: </b><span id="txid">Waiting for transaction...</span></p><br>
  <!--<p><b>PublicAudit TxId:</b><span id="paid">'Public Audit Transaction Link' will be generated shortly.</span></p><br>-->
  <p id="url" style="display: none"></p>
</div>
<div id="email" style="display: none">
<br>
<hr>
<h4 style="color: #1d00ff;"> <i class="fa fa-envelope" aria-hidden="true"style="color: #000;"></i> Email Message</h4>
<b class="text-left">To: {{data.to}}</b><br>
<b class="text-left">From : {{data.from}}</b><br>
<b class="text-left">Subject : Your "{{data.docType}}" from {{data.issuer}}</b><br>
<div class="row">
  <div class="col-md-12">
    <div id="editor">
      <p>Hi {{data.name}},<br>
      <br>We are happy to send you your {{data.docType}}, ID: {{data.id}}. 
      This true digital copy can be shared publically and be verified instantly on the Blockchain.<br><br> &nbsp; 
      <a href="https://{{setting.domain}}/docs/{{data.id}}" target="_blank"style="font-size: 18px;">https://{{setting.domain}}/docs/{{data.id}}</a>
      <br><br><br>{{data.signatory}},<br>{{data.issuer}}</p>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-4">
    <button type="button" class="btn btn-primary" onclick="mail()">Send and Finish</button>
  </div>
</div>
</div>
</div>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script>
  var quill = new Quill('#editor', {
    theme: 'snow'
  });

  function mail(){
    //console.log($('#summernote').html())
    /*
    $.post("/mail", {
      to: "{{data.to}}",
      from: "{{data.from}}",
      subject: 'Your "{{data.udocId}}" from {{data.issuer}}',
      content: $('#summernote').html(),
    }, function(data){
      alert(data);
    });*/
  }

  function setDelayImg(){
    for(i = 1; i<6; i++){
      var img = document.getElementById("fig["+i+"]")
      img.src = "../../icons/wait.png";
      //img.width = "25px";
    }
  }
  setDelayImg()
  getHash()

  function getHash(){
    $.get("/invoice/confirm.hash/", function(data, status){
			console.log("Sending hash request")
      if(data.status){
        document.getElementById("fig[1]").src = "../../icons/ok.png";
        document.getElementById("hash").innerText = "{{data.hash}}"
        document.getElementById("progress").innerText = "Verifying_Issuer_Signature"
        document.getElementById("progress").style = "width: 20%"
        getSign()
      }
      else{
				document.getElementById("erdiv").style = "display: default"
        document.getElementById("ermsg").innerText = data.msg
        for(i = 1; i<6; i++)
          document.getElementById("fig["+i+"]").src = "../../icons/bad.png";
      }
    });
  }

  function getSign(){
    $.get("/invoice/confirm.signature/", function(data, status){
			console.log("Sending signature request")
      if(data.status){
        document.getElementById("fig[2]").src = "../../icons/ok.png";
        document.getElementById("progress").style = "width: 40%"
        document.getElementById("progress").innerText = "Uploading_File"
        getFile()
      }
      else{
				document.getElementById("erdiv").style = "display: default"
        document.getElementById("ermsg").innerText = data.msg
        for(i = 2; i<6; i++)
          document.getElementById("fig["+i+"]").src = "../../icons/bad.png";
      }
    });
  }

  function getFile(){
    $.get("/invoice/confirm.file/", function(data, status){
      if(data.status){
				console.log("Sending file request")
        document.getElementById("fig[3]").src = "../../icons/ok.png";
        document.getElementById("progress").style = "width: 60%"
        document.getElementById("progress").innerText = "Publishing_On_Blockchain"
        getBlock()
      }
      else{
				document.getElementById("erdiv").style = "display: default"
        document.getElementById("ermsg").innerText = data.msg
        for(i = 3; i<6; i++)
          document.getElementById("fig["+i+"]").src = "../../icons/bad.png";
      }
    });
  }

  function getBlock(){
    console.log("Sending blockchain request")
    $.get("/invoice/confirm.blockchain/", function(data, status){
      if(data.status){
        document.getElementById("fig[4]").src = "../../icons/ok.png";
        document.getElementById("txid").innerText = data.msg
        document.getElementById("progress").style = "width: 80%"
        document.getElementById("progress").innerText = "Generating_True_Link"
        getLink()
      }
      else{
				document.getElementById("erdiv").style = "display: default"
        document.getElementById("ermsg").innerText = data.msg
        for(i = 4; i<6; i++)
          document.getElementById("fig["+i+"]").src = "../../icons/bad.png";
      }
    });
  }

  function getLink() {
    document.getElementById("fig[5]").src = "../../icons/ok.png";
    document.getElementById("progress").style = "width: 100%"
    document.getElementById("url").style = "display: default"
    document.getElementById("url").innerHTML = '<b>Document URL: </b><a href="https://{{setting.domain}}/docs/{{data.id}}" target="_blank">https://{{setting.domain}}/docs/{{data.id}}</a>'
    document.getElementById("email").style = "display: default"
    document.getElementById("progress").innerText = "Done"
  }
</script>
