<div class="row">
  <div class="col-md-4">
    <div class="widget-small info coloured-icon"><i class="icon fa fa-users fa-3x"></i>
      <div class="info">
        <h4>No. of Customers</h4>
        <p><b>{{data.students}}</b></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
      <div class="widget-small primary coloured-icon"><i class="icon fa  fa-building-o fa-3x"></i>
        <div class="info">
          <h4>Documents uploaded</h4>
          <p><b>{{data.docsup}}</b></p>
        </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="widget-small warning coloured-icon"><i class="icon fa fa-files-o fa-3x"></i>
      <div class="info">
        <h4>Upload's remaining</h4>
        <p><b>nil</b></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="container">
    <div class="tile">
      <h3 class="tile-title">Messages</h3>
      <div class="embed-responsive">
        <canvas class="embed-responsive-item" id="lineChartDemo"></canvas>
      </div>
    </div>
  </div>
</div>
