<div class="tile mb-4">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="table-responsive">
        <table class="table table-bordered " id="studentTable">
          <thead>
            <tr>
              <th>Customer No.</th>
              <th>Customer Name</th>
              <th>Email Id</th>
              <th>Phone No</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {{#each data}}
            <tr>
              <td>{{this.id}}</td>
              <td>{{this.name}}</td>
              <td>{{this.email}}</td>
              <td>{{this.phoneno}}</td>
              <td><a href="/invoice/customer?id={{this.id}}" class="btn btn-primary btn-block">Profile</a></td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">$('#studentTable').dataTable( { responsive: true,
  "columnDefs": [
    { "orderable": false, "targets": [2, 4] },
    { "searchable": false, "targets": 4}
  ]
} );</script>
