<form method="POST" action="/org/updoc">
<div class="row">
  <div class="col-md-4"></div>
  <div class="form-group col-md-4">
    <label>Vendor No:</label>
    <input type="text" class="form-control" name="id" >
  </div>
</div>
<p class="text-center"> --- OR ---</p>
<div class="row">
  <div class="col-md-12">
    <div class="form-group col-md-12">
      <label>Vendor Name:</label>
      <input type="text" class="form-control" name="fname" >
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group col-md-6">
      <label>Email ID:</label>
      <input type="text" class="form-control" name="email"  >
    </div>
    <div class="form-group col-md-6">
      <label>Mobile Number:</label>
      <input type="text" class="form-control" name="phoneno"  >
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-2">
      <button type="submit" class="btn btn-primary btn-block">Search Vendors</button>
  </div>
</div>
</form>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<script type="text/javascript">
    $(function () {
        $('#datepicker').datepicker({
            viewMode: 'years',
            format: 'yyyy',
            todayHighlight: true,
            autoclose: true,
        });
    });
</script>
