<script src="/js/plugins/cascadeSelect.js">
  var data = [
    {{#each univ.signDetail}}
    {
      text: '{{this.docType}}',
      value: '{{this.docType}}',
      children: [
        {{#each this.signatory}}
        {
          text: '{{this}}',
          value: '{{this}}'
        },
        {{/each}}
      ]
    },
    {{/each}}
  ];

  $('#certType').cascadingSelect({
    subSelects: ['#signatory'],
    data: data
  });
</script>

{{#each univ.docType}}
<option value="{{this}}">{{this}}</option>
{{/each}}