<div class="panel panel-default">
<div class="panel-heading" style="text-align: right; font-size: 1.15em">This Document is Issued on <strong>{{data.issuer}}</strong> Blockchain, powered by: <strong>DocChain.io</strong></div>
<div class="panel-body">
  <div class="col-md-12">
    <div class="row">
      <h2>{{data.issuer}}</h2>
      <h3 style="margin-bottom: 0">{{data.udocId}}</h3>
    </div>
    <div style="text-align: center">
      <img src="../../{{data.issuerId}}/{{data.filename}}" width="400px">
    </div>
    <br>
    <div style="text-align: center; font-size: 1.15em">
      <h4><b>Hash (SHA256): </b>{{data.hash}}</h4><br>
      <h4><b>Block ID : </b>{{data.txId}}</h4>
      <br>
    </div>
    <!-- 
    <button class="btn btn-primary col-md-4" data-toggle="collapse" data-target="#info">More Info</button>
    -->
    
    <form method="post" id="verifyForm" action=/univ/certificate/{{data.p2bId}}>
      <div class="col-md-4"></div>
    </form>
    <button type="submit" style="font-size: 1.15em" class="btn btn-primary col-md-4" form="verifyForm"><strong>Verify</strong></button>
    {{#if verify}}
    <br>  
    <div id="verify" class="container" style="font-size: 1.2em">
      <div class="row">
        <br>
        <h4 style="font-weight: bold">Verification</h4>
        <p>Please wait until the verification process is complete </p>
      </div>
      <div class="row">
        <p class="col-md-1"></p>
        <p class="col-md-6" style="font-weight: bold">Fetching Encrypted Hash from Blockchain</p>
        <p class="col-md-2"><img id="fig[1]"></p>
      </div>
      <div class="row">
        <p class="col-md-1"></p>
        <p class="col-md-6" style="font-weight: bold">Fetching Document</p>
        <p class="col-md-2"><img id="fig[2]"></p>
      </div>
      <div class="row">
        <p class="col-md-1"></p>
        <p class="col-md-6" style="font-weight: bold">Generating Hash and Comparing</p>
        <p class="col-md-2"><img id="fig[3]"></p>
      </div>
      <div class="row">
        <p class="col-md-1"></p>
        <p class="col-md-6" style="font-weight: bold">Verifying Crytographic Signatures</p>
        <p class="col-md-2"><img id="fig[4]"></p>
      </div>
      <div class="row">
        <p class="col-md-1"></p>
        <p class="col-md-6" style="font-weight: bold">Checking Revocation Status</p>
        <p class="col-md-2"><img id="fig[5]"></p>
      </div>
      <div class="row">
        <div id="msg"></div>
      </div>
      <div class="row" style="font-size: 1.15em; display: none" id="vermsg">
        <div class="col-md-9">
          <p><b style="background-color: #8cc800;">Verified On:</b><span style="background-color: #FFEB3B;"> <span id="verdate"></span> UTC, By Registrar, University Name</span></p>
        </div>
        <div>
          <button class="btn btn-primary col-md-2" data-toggle="modal" data-target="#info">More Info</button>
        </div>          
      </div>
    </div>
    {{/if}}
  </div>
</div>
{{#if verify}}
<div class="modal fade" id="info" role="dialog">
  <div class="modal-dialog modal-md-9">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #428bca">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="color: white">More Info</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8">
            <table class="table">
              <tbody style="border: 1px solid #ccc;">
                <tr>
                  <td>Student's Name</td>
                  <td>:</td>
                  <td>{{info.student.fname}} {{info.student.mname}}{{info.student.lname}}</td>
                </tr>
                <tr>
                  <td>Father's Name</td>
                  <td>:</td>
                  <td>{{info.father.fname}} {{info.father.mname}}{{info.father.lname}}</td>
                </tr>
                <tr>
                  <td>Date of Birth</td>
                  <td>:</td>
                  <td>{{info.dob}}</td>
                </tr>
                <tr>
                  <td>Reistration No.</td>
                  <td>:</td>
                  <td>{{data.regid}}</td>
                </tr>
                <tr>
                  <td>Course</td>
                  <td>:</td>
                  <td>{{data.deg}} {{data.course}}</td>
                </tr>
                <tr>
                  <td>Document Id</td>
                  <td>:</td>
                  <td>{{data.udocId}}</td>
                </tr>
              </tbody>
            </table>
          </div>        
          <div class="col-md-4">
            <img src="../../students/{{info.pic}}" class="thumbnail" width="150px">
          </div>
        </div>
      </div>
      <div class="modal-footer" style="background-color: #f5f5f5">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{/if}}
</div>
{{#if verify}}
<script>

  (function () {
		console.log("Going to bottom")
    scrollToBottom()

    for(i = 1; i<6; i++){
      var img = document.getElementById("fig["+i+"]")
      img.src = "../../icons/wait.png";
      //img.width = "25px";
    }

    var request = 'wait', storj = 'wait', hash = 'wait', verify = 'wait', revocation = 'wait';

    var time = setInterval(function () {
			console.log("Sending request")
      $.get("/univ/api/data/{{data.p2bId}}", function(data, status){
				//console.log(data['1'])
        if(data){
          if(data[1] == 'true'){
						console.log(data['1'])
            var img = document.getElementById("fig[1]")
            img.src = "../../icons/ok.png";
          }
          if(data[1] == 'false'){
            clearInterval(time)
            msgBad()
            for(i = 1; i<6; i++){
              var img = document.getElementById("fig["+i+"]")
              img.src = "../../icons/bad.png";
              //img.width = "25px";
            }
          }
          if(data[2] == 'true' || data[2] == 'false'){
						console.log("Got all data")
            clearInterval(time)
            for (var i = 0; i < 4; i++) {
							(function (i){
								setTimeout(function () {
									console.log('data['+(i+2)+']: ', data[i+2])
									var img = document.getElementById("fig["+(i+2)+"]")
									if(data[i+2] == 'true')
										img.src = "../../icons/ok.png";
									if(data[i+2] == 'false'){
										img.src = "../../icons/bad.png";
									} 
								}, 1000*i);
							})(i);
            };
            if(data[1] && data[2] && data[3] && data[4] && data[5]){
							console.log("starting msg good")
							setTimeout(msgGood, 3000)
						}
            else
              setTimeout(msgBad, 3000)
            scrollToBottom()
          }
        }
      });
    }, 1000)
  })();

  function msgGood(){
		console.log("msg good")
    var msg = document.getElementById("msg")
    msg.style = "text-align: center; font-size: 1.15em"
    msg.className = "alert alert-success col-md-11"
    msg.innerHTML = "<p><strong>Success </strong>This certificate is verified.</p>"
    document.getElementById("vermsg").style = "display: default"
    document.getElementById('verdate').innerHTML = new Date().toISOString();
  }

  function msgBad(){
		console.log("msg bad")
    var msg = document.getElementById("msg")
    msg.style = "text-align: center; font-size: 1.15em"
    msg.innerHTML = "<p><strong>Failed </strong>This certificate may be forged.</p>"
    msg.className = "alert alert-danger col-md-11"
  }

  function scrollToBottom() {
    $('html, body').animate({scrollTop:$(document).height()}, 'fast');
  }
</script>
{{/if}}