
<h3>Profile</h3>
<form action="profile" method="post" name="form">
  <div class="row">
    <div class="col-md-10">
      <div class="form-group">
        <label>Email:</label>
        <input type="text" class="form-control" name="email" value="{{user.email}}" readonly>
      </div>
      <hr>
      <div class="form-group" >
        <label>Courses:</label>
          <div id="degtype"><ol></ol>
            <button class="btn btn-primary col-md-2" onclick="addDegType(); return false;">Add Degree Type</button></div><br><br>
          <div id="degree"><ol></ol>
            <button class="btn btn-primary col-md-2" onclick="addDegree(); return false;">Add Degree</button></div><br><br>
          <div id="course"><ol></ol>
            <button class="btn btn-primary col-md-2" onclick="addCourse(); return false;">Add Course</button></div><br><br>
      </div>
      <hr>
      <div class="form-group" id="docs">
        <label>Document Types:</label>
          <ol>
            <div class="input-group col-md-6" id="doc0">
              <span class="input-group-addon" ><input type="checkbox" onclick="document.getElementById('op0').disabled=!this.checked;" checked></span>
              <input type="text" class="form-control" value="Event" name="docType" id="op0" readonly/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-danger" onclick="$('#doc0').remove();" disabled>X</button>
              </span>
            </div>
            <div class="input-group col-md-6" id="doc1">
              <span class="input-group-addon" ><input type="checkbox" onclick="document.getElementById('op1').disabled=!this.checked;" checked></span>
              <input type="text" class="form-control" value="Graduation" name="docType" id="op1"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-danger" onclick="$('#doc1').remove();">X</button>
              </span>
            </div>
          </ol>
        <button class="btn btn-primary" onclick="addDocType(); return false;">Add Document Type</button>
      </div>
      <hr>
      <div class="form-group" id="signauth">
        <label>Signatories:</label>
          <ol>
            <div class="input-group col-md-4" id="sig0">
              <span class="input-group-addon" ><input type="checkbox" onclick="document.getElementById('s0').disabled=!this.checked;" checked></span>
              <input type="text" class="form-control" value="Registrar" name="signatory" id="s0"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-danger" onclick="$('#sig0').remove();">X</button>
              </span>
            </div>
            <div class="input-group col-md-4" id="sig1">
              <span class="input-group-addon" ><input type="checkbox" onclick="document.getElementById('s1').disabled=!this.checked;" checked></span>
              <input type="text" class="form-control" value="Vice Chairman" name="signatory" id="s1"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-danger" onclick="$('#sig1').remove();">X</button>
              </span>
            </div>
          </ol>
        <button class="btn btn-primary" onclick="addSignAuth(); return false;">Add Signatory</button>
      </div>
      <hr>
      <div class="form-group">
        <label>Authentication:</label>
        <div class="input-group">
          <span class="input-group-addon">Public Key</span>
          <input type="text" class="form-control" name="pubkey" placeholder="PUBLIC KEY"/ required>
          <span class="input-group-addon">isRSA</span>
          <span class="input-group-addon"><input type="checkbox" onclick="this.checked?document.getElementById('isrsa').value='true':document.getElementById('isrsa').value='false'"></span>
          <input type="text" class="form-control hidden" value="false" name="isRSA" id="isrsa" readonly/>
        </div>
      </div>
      
      <div class="form-group">
        <label>Link URL:</label>
        <input type="text" class="form-control" name="issuerURL" placeholder="https://www.block.institute.com/certificate/" value="https://www.block.institute.com/certificate/" required>
      </div>
      <hr>
    </div> 
  </div>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-2">
      <div class="form-group">
        <button type="reset" class="btn btn-primary btn-block">Clear</button>
      </div>  
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <button type="submit" id='submit' class="btn btn-primary btn-block">Submit</button>
      </div>  
    </div>
  </div>
</form>
<script>
  /*
var addCourse = function(){
  var rows = $('form div#course div').length;
  console.log(rows)
  $('form div#course ol').append('<div class="input-group" id="course'+rows+'"> \
    <span class="input-group-addon">Type</span> \
    <input type="text" class="form-control" placeholder="UG..." size="5" name="degType"/>  \
    <span class="input-group-addon" style="border-left: 0; border-right: 0;">Degree</span>  \
    <input type="text" class="form-control" placeholder="B.E / M.Sc ..." size="10" name="degree"/> \
    <span class="input-group-addon" style="border-left: 0; border-right: 0;">Course</span>  \
    <input type="text" class="form-control" placeholder="Mechanical..." name="course"/>  \
    <span class="input-group-btn">  \
      <button type="button" class="btn btn-danger" onclick="$(\'#course'+rows+'\').remove(); console.log(\'Removing element\')">X</button> \
    </span> \
  </div>')
}*/
var addDegType = function(){
  var rows = $('form div#degtype div').length;
  console.log(rows)
  $('form div#degtype ol').append('<div class="input-group col-md-4" id="ty'+rows+'"> \
    <input type="text" class="form-control" placeholder="Type" name="degType"/>  \
    <span class="input-group-btn">  \
      <button type="button" class="btn btn-danger" onclick="$(\'#ty'+rows+'\').remove();">X</button>  \
    </span> \
  </div>')
}
var addDegree = function(){
  var rows = $('form div#degree div').length;
  console.log(rows)
  $('form div#degree ol').append('<div class="input-group col-md-6" id="deg'+rows+'"> \
    <input type="text" class="form-control" placeholder="Degree" name="degree"/>  \
    <span class="input-group-btn">  \
      <button type="button" class="btn btn-danger" onclick="$(\'#deg'+rows+'\').remove();">X</button>  \
    </span> \
  </div>')
}
var addCourse = function(){
  var rows = $('form div#course div').length;
  console.log(rows)
  $('form div#course ol').append('<div class="input-group col-md-8" id="co'+rows+'"> \
    <input type="text" class="form-control" placeholder="Course" name="course"/>  \
    <span class="input-group-btn">  \
      <button type="button" class="btn btn-danger" onclick="$(\'#co'+rows+'\').remove();">X</button>  \
    </span> \
  </div>')
}
var addDocType = function(){
  var rows = $('form div#docs div').length;
  console.log(rows)
  $('form div#docs ol').append('<div class="input-group col-md-6" id="doc'+rows+'"> \
    <span class="input-group-addon" ><input type="checkbox" onclick="document.getElementById(\'op'+rows+'\').disabled=!this.checked;" checked></span> \
    <input type="text" class="form-control" placeholder="Document Type" name="docType" id="op'+rows+'"/>  \
    <span class="input-group-btn">  \
      <button type="button" class="btn btn-danger" onclick="$(\'#doc'+rows+'\').remove();">X</button>  \
    </span> \
  </div>')
}
var addSignAuth = function(){
  var rows = $('form div#signauth div').length;
  console.log(rows)
  $('form div#signauth ol').append('<div class="input-group col-md-4" id="sig'+rows+'"> \
    <span class="input-group-addon" ><input type="checkbox" onclick="document.getElementById(\'s'+rows+'\').disabled=!this.checked;" checked></span> \
    <input type="text" class="form-control" placeholder="Document Type" name="signatory" id="s'+rows+'"/>  \
    <span class="input-group-btn">  \
      <button type="button" class="btn btn-danger" onclick="$(\'#sig'+rows+'\').remove();">X</button>  \
    </span> \
  </div>')
}
</script>

<!--
          <div class = "form-horizontal row" id="1">
            <div class="col-sm-11"><li><input type="text" class="form-control" name="course" placeholder="Course"></li></div>
            <button class="btn btn-danger col-sm-1" onclick="$('#1').remove(); return false;">X</button>
          </div>
          <div class="input-group">
            <input class="form-control" type="text" id="date" name="date">
            <span class="input-group-btn"></span>
            <input class="form-control" type="text" id="date" name="date">
            <span class="input-group-btn"></span>
            <input class="form-control" type="text" id="date" name="date">
            <span class="input-group-btn">
              <button type="button" class="btn btn-danger">x</button>
            </span>
          </div>

          <div class = "form-horizontal row" id="'+rows+'"><div class="col-sm-11"> \
<li><input type="text" class="form-control" name="course" placeholder="Course"></li> \
</div><button class="btn btn-danger col-sm-1" onclick="$(\'#'+rows+'\').remove(); return false;">X</button></div>
-->