<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>First Name:</label>
      <input type="text" class="form-control" name="student.fname" form="newStudent">
    </div>
    <div class="form-group">
      <label>Middle Name:</label>
      <input type="text" class="form-control" name="student.mname" form="newStudent">
    </div>
    <div class="form-group">
      <label>Last Name:</label>
      <input type="text" class="form-control" name="student.lname" form="newStudent">
    </div>
  </div>
  <div class="col-md-3">
    <input id="profile-image-upload" class="hidden" type="file" name="fsub" form="newStudent" onchange="$('#image').attr('src', window.URL.createObjectURL(this.files[0]))">
    <div id="profile-image">
      <div class="text-center">
        <img src="https://dummyimage.com/100x100/bfbfbf/000000.png&text=Student+Pic" class="thumbnail" style="cursor: pointer; height: 220;" id="image">
      </div>
    </div>
  </div>
</div>
        
<div class="row">
  <div class="col-md-6">
    <label>Date of Birth: </label>
    <div class="form-group">
      <div class='input-group date' id='dobdatepicker'>
        <input type='text' class="form-control" name="dob" form="newStudent"/>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Father Name:</label>
      <input type="text" class="form-control" name="father.fname" form="newStudent">
    </div>
    <div class="form-group"> 
      <label>Registration Number:</label>
      <input type="text" class="form-control" name="regid" form="newStudent">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <label>Select Degree Type</label>
      <select class="form-control" name="type" form="newStudent" >
        <option value="none" selected>None</option>    
      {{#each data.type}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
      </select>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Select Degree</label>
      <select class="form-control" name="deg" form="newStudent" >
        <option value="none" selected>None</option>    
      {{#each data.deg}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
      </select>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Select Course</label>
      <select class="form-control" name="course" form="newStudent">
        <option value="none" selected>None</option>    
      {{#each data.course}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
      </select>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Year: </label>
      <div class='input-group date' id='coursedatepicker'>
        <input type='text' class="form-control" name="year" form="newStudent" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Email:</label>
      <input type="text" class="form-control" name="email" form="newStudent">
    </div>
    <div class="form-group">
      <label>Mobile Number:</label>
      <input type="text" class="form-control" name="phoneno" form="newStudent">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-4 m-t-24">
    <form method="POST" action="/student" id="newStudent" enctype="multipart/form-data">
      <button type="submit" class="btn btn-primary block" data-toggle="modal" data-target="#added">Add Student</button>
    </form>
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<script type="text/javascript">
    $(function () {
        $('#dobdatepicker').datepicker({
            viewMode: 'years',
            format: 'mm-dd-yyyy',
            todayHighlight: true,
            autoclose: true,
        });
    });
    $(function () {
        $('#courseStartDatepicker').datepicker({
            viewMode: 'years',
            format: 'yyyy',
            todayHighlight: true,
            autoclose: true,
        });
    });
    $(function () {
        $('#courseEndDatepicker').datepicker({
            viewMode: 'years',
            format: 'yyyy',
            todayHighlight: true,
            autoclose: true,
        });
    });
    $(function() {
        $('#profile-image').on('click', function() {
            $('#profile-image-upload').click();
        });
    });

    var loadImage = function(event) {
        var output = document.getElementById('image');
        output.src = URL.createObjectURL(event.target.files[0]);
    };
</script>