<div class="d-none d-xl-block">
  <header>
    <nav class="navbar py-0">
      <p class="navbar-brand mb-0">
        <img src="/img/logo.svg" width="16" class="d-inline-block align-top mx-2" alt="">This Document is Issued on <strong>{{data.issuer}}</strong> Blockchain, powered by: <strong><a href="https://print2block.com" target="_blank">DocChain.io</a></strong>
      </p>
    </nav>
  </header>
  <section class="document-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-7">
          <div class="content-text-wrapper">
            <div id="carouselExample" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active main-img-shade">
                  <img id="docimage" src="https://blog.teamtreehouse.com/wp-content/uploads/2015/05/InternetSlowdown_Day.gif" class="border d-block w-100" alt="..." style="margin: auto;">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExample"  id="pdf-prev" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <p>Page <span id="pdf-current-page">1</span> of <span id="pdf-total-pages">1</span></p>
              <a class="carousel-control-next" href="#carouselExample" id="pdf-next" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div class="footer-btn-section pt-3">
              <div class="d-flex align-items-center ">
                <div class="ml-auto">
                  <img src="/img/share.svg" width="35" alt="" style="cursor:pointer;" data-toggle="popover" data-placement="top" data-content=''>
                </div>
                <div class="ml-2">
                  <button class="btn download-btn px-4">Download</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="document-header-bg">
            <div class="bg-overlay">
              <div class="document-header-qr">
                <img class="qr rounded" width="100" alt="">
              </div>
              <div class="document-header-text-wrap">
                <h5 class="mb-0" id="docid">{{data.udocId}}</h5>
                <p class="mb-0" id="issuername">{{data.issuer}}</p>
              </div>
            </div>
          </div>
          <div class="detail-wrap pl-2">
            <div class="d-flex align-items-center py-2">
              <div class="py-0 ">
                <p class="mb-0">Issue Date</p>
                <h6 class="mb-0">{{data.doi}}</h6>
              </div>
            </div>
            <div class="d-flex align-items-center py-2">
              <div class="py-0 ">
                <p class="mb-0">Issuer</p>
                <h6 class="mb-0">{{data.issuer}}</h6>
              </div>
            </div>
            <div class="d-flex align-items-center pt-2">
              <div>
                <p class="mb-0">Transaction ID:</p>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <div class="pr-2">
                <h6 style="word-break: break-all;">{{data.txId}}</h6>
              </div>
            </div>
            <div class="d-flex align-items-center pt-2">
              <div>
                <p class="mb-0">Hash (SHA256):</p>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <div class="pr-2">
                <h6 style="word-break: break-all;">{{data.hash}}</h6>
              </div>
            </div>
            {{#unless verify}}
            <form method="post" action="/univ/certificate/{{data.p2bId}}">
            <div class="d-flex align-items-center justify-content-center">
              <div class="py-5">
                <button type="submit" class="btn custom-btn px-4 font-weight-bold" onclick="showVerify()">VERIFY</button>
              </div>
            </div>
            </form>
            {{/unless}}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- MOBILE -->
<div class="d-sm-block d-md-block d-lg-block d-xl-none">
  <header>
    <nav class="navbar py-0">
      <a class="navbar-brand" href="#">
        <img src="/img/logo.svg" width="16" class="d-inline-block align-top mx-2" alt="">Doc
      </a>
    </nav>
  </header>
  <section class="document-mobile" id="first" style="display:none;">
    <div class="container-fluid p-0">
      <div class="document-header-bg mb-3">
        <div class="bg-overlay">
          <div class="document-header-qr">
            <img class="qr rounded img-width" alt="">
          </div>
          <div class="document-header-text-wrap">
            <h5 class="mb-0">{{data.udocId}}</h5>
            <p class="mb-0 pb-3">{{data.name}}</p>
          </div>
          <div class="document-header-btn-group">
            <button id="doc" class="btn view-doc-mob-btn px-4">View Doc</button><br>
            <form method="post" action="/docs/{{data._id}}?id=test">
              <button type="submit" class="btn view-doc-mob-btn px-4" onclick="showVerify()">Verify</button>
            </form>
          </div>
        </div>
      </div>
      <div class="detail-mob-wrapper pl-2">
        <div class="row align-items-center">
          <div class="col-sm-4 py-3">
            <p class="mb-0">Issue Date</p>
            <h6 class="mb-0">{{data.doi}}</h6>
          </div>
          <div class="col-sm-4 py-3">
            <p class="mb-0">Issuer</p>
            <h6 class="mb-0">{{data.issuer}}</h6>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="py-3 ">
            <p class="mb-0">Transaction ID:</p>
            <h6 class="mb-0" style="word-break: break-all;">{{data.txId}}</h6>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="py-3 ">
            <p class="mb-0">Hash (SHA256):</p>
            <h6 class="mb-0" style="word-break: break-all;">{{data.hash}}</h6>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="document-mobile" id="side">
    <div class="container-fluid p-0">
      <div class="document-header-bg mb-5">
        <div class="bg-overlay">
          <div class="document-header-qr">
            <img class="qr rounded img-width" alt="">
          </div>
          <div class="document-header-text-wrap">
            <h5 class="mb-0">{{data._id}}</h5>
            <p class="mb-0 pb-3">{{data.issuer}}</p>
          </div>
          <div class="document-header-btn-group">
            <button id="info" class="btn view-doc-mob-btn px-4">View Info</button><br>
              <form method="post" action="/docs/{{data._id}}?id=test">
                <button type="submit" class="btn view-doc-mob-btn px-4" onclick="showVerify()">Verify</button>
              </form>
          </div>
        </div>
      </div>
      <div class="content-mob-wrap" id="task">
        <div class="para-mob-wrap">
          <div id="carouselExample" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img id="docimage1" src="https://blog.teamtreehouse.com/wp-content/uploads/2015/05/InternetSlowdown_Day.gif" class="border d-block w-100" alt="..." style="margin: auto;">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExample"  id="pdf-prev" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <p>Page <span id="pdf-current-page1">1</span> of <span id="pdf-total-pages1">1</span></p>
            <a class="carousel-control-next" href="#carouselExample" id="pdf-next" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class="footer-btn-section pt-3">
            <div class="d-flex align-items-center justify-content-end">
              <div class="ml-2">
                <img src="/img/share.svg" width="35" alt="" style="cursor:pointer;" data-toggle="mobpopover" data-placement="top" data-content=''>
              </div>
              <div class="ml-2">
                <button class="btn download-btn px-4">Download</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="content" style="display: none" id="verify">
  <div class="container">
    <div class="py-3">
      <h5 class="pb-3 verification-text"><strong>Verification</strong></h5>
      {{#if verify}}
        <h5 id="msgwait">Please wait until the verification process is complete<span id="type"></span></h5>
      {{else}}
        <h5>Please wait while we initiate the verification process on the blockchain<span id="type"></span></h5>
      {{/if}}
    </div>
    {{#if verify}}
    <div class="alignment">
      {{#if expiry}}
      <div class="d-flex align-items-center justify-content-between">
        <div class="py-2">
          <p class="mb-0"><strong>Fetching expiry date. Valid upto: {{meta.expiry}}</strong></p>
        </div>
        <div class="py-2 px-2">
          <img src="/icons/wait.png" id="fig[0]" width="25" alt="">
        </div>
      </div>
      {{/if}}
      <div class="d-flex align-items-center justify-content-between">
        <div class="py-2">
          <p class="mb-0"><strong>Fetching Encrypted Hash from Blockchain</strong></p>
        </div>
        <div class="py-2 px-2">
          <img src="/icons/wait.png" id="fig[1]" width="25" alt="">
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <div class="py-2">
          <p class="mb-0"><strong>Fetching Document</strong></p>
        </div>
        <div class="py-2 px-2"><img src="/icons/wait.png" id="fig[2]" width="25" alt=""></div>
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <div class="py-2">
          <p class="mb-0"><strong>Generating Hash and Comparing</strong></p>
        </div>
        <div class="py-2 px-2"><img src="/icons/wait.png" id="fig[3]" width="25" alt=""></div>
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <div class="py-2">
          <p class="mb-0"><strong>Verifying Crytographic Signatures</strong></p>
        </div>
        <div class="py-2 px-2"><img src="/icons/wait.png" id="fig[4]" width="25" alt=""></div>
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <div class="py-2">
          <p class="mb-0"><strong>Checking Revocation Status</strong></p>
        </div>
        <div class="py-2 px-2"><img src="/icons/wait.png" id="fig[5]" width="25" alt=""></div>
      </div>
    </div>
    {{else}}
    <div style="text-align: center;">
      <img src="/img/loader.gif" width="8%">
    </div>
    {{/if}}
    {{#if verify}}
    <div id="msgClass" style="display: none">
      <h4 id="msg"><strong>Success!</strong> This certificate is verified.</h4>
    </div>
    <div class="row my-3" id="vermsg" style="display: none">
      <div class="col-xl-8 col-lg-7 col-md-7 py-3">
        <p class="mb-0"><b style="background-color:#8cc800;">Verified On:</b>
          <span style="background-color: #FFEB3B;"><span id="verdate"></span></span>
        </p>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 py-3">
        <button class="btn blue-btn btn-block" data-toggle="modal" data-target="#exampleModal" onclick="getProof()">Public Audit Proof</button>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 py-3">
        <button class="btn blue-btn btn-block" data-toggle="modal" data-target="#moreinfo">More info</button>
      </div>
    </div>
    {{/if}}
    <!-- modal 1-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Public Audit Proof</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <p class="mb-1"><strong>Contract Address: </strong><a href="https://rinkeby.etherscan.io/address/0x00e7d08d1a325d4205e44a2df86ded4c6280daf2" target="_blank">0x00e7d08d1a325d4205e44a2df86ded4c6280daf2</a></p>
              <p class="mb-1"><strong>Contract ABI: </strong><a href="/misc/audit-abi.txt" target="_blank">Download ABI</a></p>
              <p class="mb-0"><strong>PublicAudit TX:</strong></p>              
              <p class="mb-1"><a href="https://rinkeby.etherscan.io/tx/{{data.PAtxId}}" target="_blank">{{data.PAtxId}}</a></p>
            </div>
            <h4>Proof 1: </h4>
            <div id="proofbload">
              <p class="mb-0">Connecting to Private Blockchain and verifying Proof...</p>
              <img id="docimage" src="https://blog.teamtreehouse.com/wp-content/uploads/2015/05/InternetSlowdown_Day.gif" width="100px" class="d-block" alt="..." style="margin: auto;">
            </div>
            <div id="proofb" style="display: none">
              <p class="mb-0"><strong>Audit block id: </strong><span id="ba[0]"></span><br><strong>Block: </strong><span id="bn[0]"></span><br><strong>Datahash: </strong><span id="bh[0]"></span></p>
              <p class="mb-0"><strong>Audit block id: </strong><span id="ba[1]"></span><br><strong>Block: </strong><span id="bn[1]"></span><br><strong>Datahash: </strong><span id="bh[1]"></span></p>
              <p class="mb-0"><strong>Audit block id: </strong><span id="ba[2]"></span><br><strong>Block: </strong><span id="bn[2]"></span><br><strong>Datahash: </strong><span id="bh[2]"></span></p>
            </div>
            <hr>
            <h4>Proof 2: </h4>
            <div id="proofaload">
              <p class="mb-0">Connecting to Etherium and verifying Proof...</p>
              <img id="docimage" src="https://blog.teamtreehouse.com/wp-content/uploads/2015/05/InternetSlowdown_Day.gif" width="100px" class="d-block" alt="..." style="margin: auto;">
            </div>
            <div id="proofa" style="display: none">
              <p class="mb-1"><strong>IPFS File :</strong><a id="ipfsfile" target="_blank">View File</a></p>
              <p class="mb-1"><strong>Merkel Leaf ID:</strong>{{data.PAleafId}}</p>
              <p class="mb-0"><strong>Merkel Leaf Hash:</strong></p>
              <p class="mb-1" id="leaf"></p>
              <p class="mb-0"><strong>Merkel Tree Root:</strong></p>
              <p class="mb-1" id="root"></p>
              <p class="mb-0"><strong>Merkel Leaf Path:</strong></p>
              <div id="proof"></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn blue-btn text-white" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- modal 2-->
    <div class="modal fade" id="moreinfo" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModal">More Info</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row" id="pdfFrame" style="display: none">
              <div class="container">
                <iframe width="400" height="566"></iframe>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <table class="table">
                  <tbody>
                <tr>
                <td>Students's Name</td>
                <td>:</td>
                <td>{{info.student.fname}} {{info.student.mname}} {{info.student.lname}}</td>
                </tr>
                <tr>
                <td>Father's Name</td>
                <td>:</td>
                <td>{{info.father.fname}} {{info.father.mname}} {{info.father.lname}}</td>
                </tr>
                <tr>
                <td>Date of Birth</td>
                <td>:</td>
                <td>{{info.dob}}</td>
                </tr>
                <tr>
                <td>Student No.</td>
                <td>:</td>
                <td>{{data._id}}</td>
                </tr>
                <tr>
                <td>Document ID</td>
                <td>:</td>
                <td>{{data.udocId}}</td>
                </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-4">
                <img id="rec_img_src" class="thumbnail" src="../../students/{{info.pic}}" width="120" alt="">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn blue-btn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-custom">
  <p class="pt-3 mb-3">All rights reserved. <strong>Print2Block&copy;2017</strong></p>
</div>
<script src="/js/bundle.js"></script>
<script>
  var __PDF_DOC,
      __CURRENT_PAGE,
      __TOTAL_PAGES,
      __PAGE_RENDERING_IN_PROGRESS = 0,
      __CANVAS = document.createElement("CANVAS"),
      __CANVAS_CTX = __CANVAS.getContext('2d'),
      __CANVAS_CTXimageSmoothingEnabled = 0,
      docImage = $('#docimage').get(0),
      docImage1 = $('#docimage1').get(0),
      imgData = [];

  $(document).ready(function(){
    $('[data-toggle="popover"]').attr("data-content",'<a href="mailto:?to=&amp;subject=Decentralised+Document&amp;body=Click+the+link+the+document.%0A'+encodeURI(document.location.href)+'" target="_blank" rel="noreferrer"><span class="fa-stack"><i class="fas fa-envelope fa-stack-2x text-primary" ></i></span></a>&nbsp;&nbsp;&nbsp;<a href="http://www.facebook.com/sharer.php?u='+encodeURI(document.location.href)+'&amp;t=Decentralised+Document" target="_blank" rel="noreferrer"><img src="/icons/fb.ico" height="28px"></img></a>&nbsp;&nbsp;&nbsp;<a  href="http://www.linkedin.com/shareArticle?mini=true&amp;url='+encodeURI(document.location.href)+'&amp;title=Decentralised+Document&amp;ro=false&amp;summary=&amp;source=" target="_blank" rel="noreferrer"><img src="/icons/li.ico" height="28px"></img></a>&nbsp;&nbsp;&nbsp;<a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=&amp;su=Decentralised+Document&amp;body=Click+the+link+the+document.%0A'+encodeURI(document.location.href)+'" target="_blank" rel="noreferrer"><img src="/icons/gmail.ico" height="28px"></img></a>');

    $('[data-toggle="mobpopover"]').attr("data-content",'<a href="mailto:?to=&amp;subject=Decentralised+Document&amp;body=Click+the+link+the+document.%0A'+encodeURI(document.location.href)+'" target="_blank" rel="noreferrer"><span class="fa-stack"><i class="fas fa-envelope fa-stack-2x text-primary" ></i></span></a>&nbsp;&nbsp;&nbsp;<a href="whatsapp://send?text='+encodeURI(document.location.href)+'" target="_blank" rel="noreferrer"><img src="/icons/wa.svg" height="28px"></img></a>&nbsp;&nbsp;&nbsp;<a href="http://www.facebook.com/sharer.php?u='+encodeURI(document.location.href)+'&amp;t=Decentralised+Document" target="_blank" rel="noreferrer"><img src="/icons/fb.ico" height="28px"></img></a>&nbsp;&nbsp;&nbsp;<a  href="http://www.linkedin.com/shareArticle?mini=true&amp;url='+encodeURI(document.location.href)+'&amp;title=Decentralised+Document&amp;ro=false&amp;summary=&amp;source=" target="_blank" rel="noreferrer"><img src="/icons/li.ico" height="28px"></img></a>&nbsp;&nbsp;&nbsp;<a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=&amp;su=Decentralised+Document&amp;body=Click+the+link+in+the+document.%0A'+encodeURI(document.location.href)+'" target="_blank" rel="noreferrer"><img src="/icons/gmail.ico" height="28px"></img></a>');

    $('[data-toggle="popover"]').popover({html : true});

    $('[data-toggle="mobpopover"]').popover({html : true});
  });

  $(window).on('load', function() {
    let imgxhr = new XMLHttpRequest();
    imgxhr.open('GET', "https://view.print2block.ml/qr?value=" + encodeURI(document.URL), true);
    imgxhr.responseType = 'text';
    
    imgxhr.onload = function(e) {
      //console.log(this.response)
      let elems = document.getElementsByClassName("qr")
      for (let i = 0; i < elems.length; i++ ) {
        elems[i].src = this.response
      }
    }
    
    imgxhr.send();

    //console.log('All assets are loaded')
    //$("#li-c-0").addClass("active");
    //$("#doc-0").addClass("active");
    // Initialize and load the PDF
    function showPDF(pdf_url, cb) {

      PDFJS.getDocument({ url: pdf_url }, false, null, function(progress) {

        var percent_loaded = (progress.loaded/progress.total)*100;
        //$("#pdf-loading-completed").css('width', percent_loaded + '%');

      }).then(function(pdf_doc) {

        __PDF_DOC = pdf_doc;
        //console.log(__PDF_DOC)
        __TOTAL_PAGES = __PDF_DOC.numPages;
        
        // Hide the pdf loader and show pdf container in HTML
        //$("#pdf-loader").hide();
        //$("#pdf-contents").show();
        $("#pdf-total-pages").text(__TOTAL_PAGES);
        $("#pdf-total-pages1").text(__TOTAL_PAGES);

        // Show the first page
        showPage(1);
        cb(null);
      }).catch(function(error) {
        // If error re-show the upload button
        //$("#pdf-loader").hide();
        //$("#load-button").show();
        cb(1);
        alert(error.message);
      });;
    }

    // Load and render a specific page of the PDF
    function showPage(page_no) {
        __PAGE_RENDERING_IN_PROGRESS = 1;
        __CURRENT_PAGE = page_no;

        // Disable Prev & Next buttons while page is being loaded
        $("#pdf-next, #pdf-prev").attr('disabled', 'disabled');

        // While page is being rendered hide the canvas and show a loading message
        //$("#pdf-canvas").hide();
        //$("#page-loader").show();

        // Update current page in HTML
        $("#pdf-current-page").text(page_no);
        $("#pdf-current-page1").text(page_no);
        
        // Fetch the page
        __PDF_DOC.getPage(page_no).then(function(page) {
            // As the canvas is of a fixed width we need to set the scale of the viewport accordingly
            var scale_required = Math.round(( 0.15 * navigator.hardwareConcurrency + 0.2 ) * 100) / 100

            if(navigator.platform != "Win32")
              scale_required = Math.round(( 0.033 * navigator.hardwareConcurrency + 0.533 ) * 100) / 100

            // Get viewport of the page at required scale
            var viewport = page.getViewport(scale_required);

            // Set canvas height
            __CANVAS.height = viewport.height;
            __CANVAS.width = viewport.width;

            var renderContext = {
              canvasContext: __CANVAS_CTX,
              viewport: viewport
            };
            
            // Render the page contents in the canvas
            page.render(renderContext).then(function() {
              __PAGE_RENDERING_IN_PROGRESS = 0;

              // Re-enable Prev & Next buttons
              $("#pdf-next, #pdf-prev").removeAttr('disabled');
              docImage.src = __CANVAS.toDataURL()
              docImage1.src = __CANVAS.toDataURL()
            });
        });
    }

    // Previous page of the PDF
    $(".carousel-control-prev-icon").on('click', function() {
      if(__CURRENT_PAGE != 1)
        showPage(--__CURRENT_PAGE);
    });

    // Next page of the PDF
    $(".carousel-control-next-icon").on('click', function() {
      if(__CURRENT_PAGE != __TOTAL_PAGES)
         showPage(++__CURRENT_PAGE);
    });
    function getMimetype(num, cb) {
      let filereader = new FileReader()
      filereader.readAsArrayBuffer(num)
      filereader.onloadend = function(evt) {
        // console.log("LOAD: ", evt)
        if (evt.target.readyState === FileReader.DONE) {
          let uint = new Uint8Array(evt.target.result)
          let bytes = []
          uint.forEach((byte) => {
            bytes.push(byte.toString(16))
          })
          let hex = bytes.join('').toUpperCase()
          // console.log("TYPE: ", hex)
          switch (hex) {
            case '89504E47':  //'image/png'
            case '47494638':  //'image/gif'
            case 'FFD8FFDB':
            case 'FFD8FFE0':
              return cb('image')
            case '25504446':
              return cb('application/pdf')
            default:
              return cb('Unknown filetype')
          }
        }
      }
    }

    function g64(pg){
      return new Promise(resolve => {
        __PDF_DOC.getPage(pg).then(function(page) {
          var vp = page.getViewport( 0.125 * navigator.hardwareConcurrency + 0.5 );
          var nx = document.createElement("CANVAS");
          var nctx = nx.getContext('2d');
          nctx.imageSmoothingEnabled = 0		
          //console.log("PG DATA: ",page.getViewport(2))
          nx.height = vp.height
          nx.width = vp.width
          var rContext = {
            canvasContext: nctx,
            viewport: vp
          };
          page.render(rContext).then(function() {
            __PAGE_RENDERING_IN_PROGRESS = 0;
            resolve(nx.toDataURL())
            //console.log(nx.toDataURL())
            //return nx.toDataURL()
          });
        })
      })
    }

    var x = document.createElement("CANVAS");
    var ctx = x.getContext('2d');
    ctx.imageSmoothingEnabled = 0
    
    var img = new Image();
    //var img = document.querySelector("#doc")
    img.onload = function(){
      //console.log("Image loaded in img: ", this)
      //console.log("Image loaded in img: w: "+this.naturalWidth+" h: "+ this.naturalHeight)
      x.width = this.naturalWidth
      x.height = this.naturalHeight
      ctx.drawImage(img, 0, 0, this.naturalWidth, this.naturalHeight)
      //console.log(x.toDataURL())
      imgData[0] = x.toDataURL()
    }
    
    var xhr = new XMLHttpRequest();
    var count = 1;
    xhr.open('GET', window.location.origin + "/{{data.issuerId}}/{{data.filename}}", true);
    xhr.responseType = 'blob';
    
    xhr.onload = function(e) {
      if (this.status == 200) {
        // get binary data as a response
        var blob = this.response;
        // console.log("DATA: ", blob)
        let mNum = blob.slice(0, 4);
        getMimetype(mNum, function(type) {
          console.log("TYPE: ", type)
          if(type=="image") {
            //console.log("Displaying as image")
            img.src = URL.createObjectURL(blob)
            document.querySelector("#docimage").src = URL.createObjectURL(blob)
            document.querySelector("#docimage1").src = URL.createObjectURL(blob)
          }
          if(type=="application/pdf") {
            //console.log("Displaying as pdf")
            showPDF(URL.createObjectURL(blob), function() {
            //console.log("PDF loaded")
              for(let i = 0; i < __TOTAL_PAGES; i++ ) {
                g64(i+1).then(pic => {
                //console.log(i)
                imgData[i] = pic;
                count++
                //console.log(imgData)
                /*
                if(count==__TOTAL_PAGES) {
                  
                }*/
                })
              }
            })
          }
        })
      }
    };
    
    xhr.send();
  })
</script>
<script>
var a;

  if(''=='{{stat}}')
    a = 0
  else
    a = '{{stat}}';

checkpopup()

function checkpopup(){
  //console.log("POPUP LOADED")
//  $('#revokedModal').modal({show: true})
}

console.log(a);

{{#if verify}}
  setDelayImg()
  verifyAnim(a)
{{/if}}
  verifyMsg(a)


{{#if verify}}

function expiryCheck(){
  var img = document.getElementById("fig[0]")
  if(new Date('{{meta.expiry}}')< new Date()){
    img.src = "/icons/bad.png";
    setTimeout(msgExpired, 7501)
  }
  else{
    img.src = "/icons/ok.png";
  }
}

function setDelayImg(){
  for(i = 1; i<6; i++){
    var img = document.getElementById("fig["+i+"]")
    img.src = "../../icons/wait.png";
    //img.width = "25px";
  }
}

function verifyAnim(a){
  for (var i = 1; i < 6; i++) {
    (function (i, a) {
      if (a)
        setTimeout(function () {
          var img = document.getElementById("fig["+i+"]")
          img.src = "../../icons/bad.png";
          if(a>=i)
            img.src = "../../icons/ok.png";
        }, 1500*i);
    })(i, a);
  };
}

function msgGood(){
  let msgClass = document.getElementById("msgClass")
  msgClass.className = "d-flex alert-success align-items-center justify-content-center mt-3"
  let msg = document.getElementById("msg")
  msg.className = "success-text py-2 mb-0 text-center px-2"
  msg.innerHTML = "<strong>Success! </strong>This Document is verified."
  document.getElementById("msgwait").style = "display: none"
  document.getElementById("vermsg").style = "display: default"
  document.getElementById('verdate').innerHTML = new Date();
  scrollToBottom()
}

function msgBad(){
  let msgClass = document.getElementById("msgClass")
  msgClass.className = "d-flex alert-danger align-items-center justify-content-center mt-3"
  let msg = document.getElementById("msg")
  msg.className = "success-text py-2 mb-0 text-center px-2"
  msg.innerHTML = "<strong>Failed </strong>This Document may be forged."
  document.getElementById("msgwait").style = "display: none"
  scrollToBottom()
}

function msgExpired(){
  let msgClass = document.getElementById("msgClass")
  msgClass.className = "d-flex alert-danger align-items-center justify-content-center mt-3"
  let msg = document.getElementById("msg")
  msg.className = "success-text py-2 mb-0 text-center px-2"
  msg.innerHTML = "<strong>Failed </strong>This Document is Expired."
  document.getElementById("msgwait").style = "display: none"
  scrollToBottom()
}

function msgRevoked(){
  let msgClass = document.getElementById("msgClass")
  msgClass.className = "d-flex alert-warning align-items-center justify-content-center mt-3"
  let msg = document.getElementById("msg")
  msg.className = "success-text py-2 mb-0 text-center px-2"
  msg.innerHTML = "<strong>Failed </strong>This Document is REVOKED."
  document.getElementById("msgwait").style = "display: none"
  scrollToBottom()
}
{{/if}}
function verifyMsg(a){
	{{#if verify}}
  {{#if expiry}}
  expiryCheck()
  {{/if}}
  if(a==5){
    setTimeout(msgGood, 7500)
    scrollToBottom()
  }
  if(a==4){
    setTimeout(msgRevoked, 7500)
    scrollToBottom()
  }
  if (a<4 && a!=0){
    setTimeout(msgBad, 7500)
    scrollToBottom()
  }
  {{/if}}
  if (a==0){
    document.getElementById("verify").style = "display: none"
  }
}

function scrollToBottom() {
	$('html, body').animate({scrollTop:$(document).height()}, 'fast');
}

function showVerify(){
  document.getElementById("verify").style = "display: default"
  scrollToBottom()
}

function getProof(){

    $.post("/proof", {
      id: '{{data.PAleafId}}'
    },function(data){
      console.log(data)
      document.getElementById("leaf").innerText = data.value
      document.getElementById("root").innerText = data.root
      var path = data.path
      let proofstr = ''
      for(let i = 0; i< path.length; i++) {
        path[i] = JSON.stringify(path[i])
        path[i] = path[i].replace(/[^a-zA-Z0-9:, ]/g, "") + '\n'
        proofstr = proofstr + path[i]
      }
      console.log(proofstr)
      document.getElementById("proof").innerText = proofstr
      document.getElementById("proofaload").style = "display: none"
      document.getElementById("proofa").style = "display: default"
      document.getElementById("ipfsfile").href = "https://ipfs.print2block.ml/ipfs/QmZ62UkFA7ApgPFSg4zXn3NowWkNCnx9nbbspSKzwZeS9V"
    })

    let xhrProofb = new XMLHttpRequest();
    xhrProofb.open('GET', 'https://audit.mpcb.print2block.ml/proofb', true);
    
    xhrProofb.onload = function(e) {
      if (this.status == 200) {
        // get binary data as a response
        let cont = JSON.parse(this.response);
        console.log(cont)
        for(let i = 0; i< 3; i++) {
          document.getElementById("ba["+i+"]").innerText = cont[i*3+2]
          document.getElementById("bn["+i+"]").innerText = cont[i*3]
          document.getElementById("bh["+i+"]").innerText = cont[i*3+1]
        }
        document.getElementById("proofbload").style = "display: none"
        document.getElementById("proofb").style = "display: default"
      }
    }
    xhrProofb.send()
}

{{#if receiver}}
var rec = '{{rec}}'
rec = rec.replace(/&quot;/g,'\"')
rec = JSON.parse(rec)
var meta = '{{meta}}'

var name = rec.name || rec.firstname + " " + rec.middlename + " " + rec.lastname
if(name.length > 0)
  document.getElementById("rec_name_val").innerText = name
else
  document.getElementById("rec_name").remove()
if(rec._id != undefined)
  document.getElementById("rec_id_val").innerText = rec._id
else
  document.getElementById("rec_id").remove()
if(rec.guardian != undefined)
  document.getElementById("rec_guard_val").innerText = rec.guardian
else
  document.getElementById("rec_guard").remove()
if(rec.dob != undefined)
  document.getElementById("rec_dob_val").innerText = rec.dob
else
  document.getElementById("rec_dob").remove()
if(rec.doi != undefined)
  document.getElementById("rec_doi_val").innerText = rec.doi
else
  document.getElementById("rec_doi").remove()
if(rec.doe != undefined)
  document.getElementById("rec_doe_val").innerText = rec.doe
else
  document.getElementById("rec_doe").remove()
if(rec.type != undefined)
  document.getElementById("rec_type_val").innerText = rec.type
else
  document.getElementById("rec_type").remove()
if(rec.pic != undefined)
  document.getElementById("rec_img_src").src = rec.pic
else
  document.getElementById("rec_img_src").src = 'https://pngimage.net/wp-content/uploads/2018/05/default-png-1.png'
{{/if}}

function verify() {
  document.getElementById("verify").style.display = "block";
}
{{#if verify}}
$(window).on('load', function() {
  document.getElementById("verify").style.display = "block";
})
{{/if}}
</script>
<script>
	$.fn.typer = function(text, options){
		options = $.extend({}, {
			char: ' ',
			delay: 200,
			duration: 4000,
			endless: true
		}, options || text);

		text = $.isPlainObject(text) ? options.text : text;

		var elem = $(this),
			isTag = false,
			c = 0;
		
		(function typetext(i) {
			var e = ({string:1, number:1}[typeof text] ? text : text[i]) + options.char,
				char = e.substr(c++, 1);

			if( char === '<' ){ isTag = true; }
			if( char === '>' ){ isTag = false; }
			elem.html(e.substr(0, c));
			if(c <= e.length){
				if( isTag ){
					typetext(i);
				} else {
					setTimeout(typetext, options.duration/10, i);
				}
			} else {
				c = 0;
				i++;
				
				if (i === text.length && !options.endless) {
					return;
				} else if (i === text.length) {
					i = 0;
				}
				setTimeout(typetext, options.delay, i);
			}
		})(0);
	};
	$('#type').typer(['....']);
</script>