<div class="tile">
<p><strong>Note:</strong> Cascading method of courses is not yet implemented.</p>
<br>
<form action="/univ/course/add" method="post">
<div>
  <label>Add Course detail</label>
  <div class="input-group">
    <span class="input-group-addon" style="border-left: 2px solid #ccc;padding: 8px 10px;width: 55px;border-radius: 0;border-right: 0;">Type</span>
    <input type="text" list="type-list" class="form-control" placeholder="Under Graduate / UG..." name="degType" style="width: 5%;" required / >
    <span class="input-group-addon" style="border-left: 0;border-right: 0;padding: 8px 10px;width: 68px;border-radius: 0;">Degree</span>
    <input type="text" list="deg-list" class="form-control" placeholder="Bachelor of Engineering / B.E ..." size="10" name="degree" style="width: 18%;" required/>
    <span class="input-group-addon" style="border-left: 0;border-right: 0;padding: 8px 10px;width: 66px;border-radius: 0;">Course</span>
    <input type="text" list="course-list" class="form-control" placeholder="Aeronautical Engg. / Mechanical Engg. ..." name="course" style="width: 40%;" required />
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </span>
  </div>
  <br>
  <p style="text-align:center"><strong>Warn:</strong> Verify data before submission, as post-modification is not possible</p>
</div>
  <datalist id="type-list">
    {{#each data.degType}}
    <option value="{{this}}"/>
    {{/each}}
  </datalist>

  <datalist id="deg-list">
    {{#each data.degree}}
    <option value="{{this}}"/>
    {{/each}}
  </datalist>

  <datalist id="course-list">
    {{#each data.course}}
    <option value="{{this}}"/>
    {{/each}}
  </datalist>
</form>
<hr>
<div class="row">
  <div class="col-md-12">
  <h5>List Of Courses:</h5>
  <div class="table-responsive">
    <table class="table table-bordered"  id="courseTable">
      <thead>
        <tr>
          <th>Type</th>
          <th>Degree</th>
          <th>Course</th>
        </tr>
      </thead>
      <tbody>
        {{#each data.courseDetail}}
        <tr>
          <td>{{this.degType}}</td>
          <td>{{this.degree}}</td>
          <td>{{this.course}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  </div>
</div>
</div>
<script type="text/javascript" src="../../js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../../js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">$('#courseTable').dataTable( { 
  responsive: true
} );</script>