<div class="tile mb-4">
  <form action="/univ/pandp/{{data.course.0.regid}}" method="post" enctype="multipart/form-data">
    <div class="row">
      <div class="col-md-8">
        <label><b>Confirm Student:</b></label>
        <table class="table">
          <tbody style="border: 1px solid #ccc;">
            <tr>
              <td>Name</td>
              <td>:</td>
              <td>{{data.student.fname}} {{data.student.mname}} {{data.student.lname}}</td>
            </tr>
            <tr>
              <td>Father/Gaurdian Name</td>
              <td>:</td>
              <td>{{data.father.fname}} {{data.father.mname}} {{data.father.lname}}</td>
            </tr>
            <tr>
              <td>Email Id:</td>
              <td>:</td>
              <td>{{data.email}}</td>
            </tr>
            <tr>
              <td>Date of Birth</td>
              <td>:</td>
              <td>{{data.dob}}</td>
            </tr>
            <tr>
              <td>Register Id</td>
              <td>:</td>
              <td>{{data.course.0.regid}}</td>
            </tr>
            <tr>
              <td>Course</td>
              <td>:</td>
              <td>{{data.course.0.degType}} {{data.course.0.degree}} {{data.course.0.course}}, {{data.course.0.year}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <div class="text-center">
          <img src="../../students/{{data.pic}}" class="img-thumbnail" width="130px" style="cursor: pointer; margin-top:50px" >
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label><b>Type of Document:</b></label>
              <select class="form-control" id="certType" name="certType" required>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>
                <b>Document ID:</b>
              </label>
              <input type="text" class="form-control" name="certId" id="certId" pattern="^[a-zA-Z0-9]+$" title="No symbols are allowed" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label><b>Authorized Signatory :</b></label>
              <select class="form-control" id="signatory" name="signatory" multiple readonly>
              </select>
              <!--
              <select class="form-control" name="choices-multiple-remove-button" id="choices-multiple-remove-button" placeholder="This is a placeholder" multiple>
                <option value="Dropdown item 1" selected>Dropdown item 1</option>
                <option value="Dropdown item 2" selected>Dropdown item 2</option>
                <option value="Dropdown item 3">Dropdown item 3</option>
                <option value="Dropdown item 4" selected>Dropdown item 4</option>
              </select>-->
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>
                <b>Issued On :</b>
              </label>
              <div class="input-group date" id="datepicker">
                <input type="text" class="form-control" name="idate" required>
                <span class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>
                <b>Expire :</b>
              </label>
              <br>
              <select name="expire" id="expire" class="form-control">
                <option>Never</option>
                <option value="yes">Yes</option>
              </select>
            </div>
          </div>
          <div class="yes box col-md-6">
            <div class="form-group">
              <label>
                <b>Expires On :</b>
              </label>
              <br>
              <div class="input-group date" id="expirepicker">
                <input type="text" class="form-control" name="edate">
                <span class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <input id="doc-upload" class="hidden" type="file" name="fsub" accept="image/*" onchange="$('#image').attr('src', window.URL.createObjectURL(this.files[0]))" oninvalid="$('#image').attr('src','/img/errdoc.png')" required>
        <div id="doc-image">
          <div class="text-center">
            <img src="/img/emptydoc.png" class="thumbnail" style="cursor: pointer; height: 250px;" id="image">
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary block">Confirm and Preview</button>
      </div>
    </div>
  </form>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<script type="text/javascript">
  $(function () {
    $('#datepicker').datepicker({
      viewMode: 'years',
      format: 'dd-mm-yyyy',
      todayHighlight: true,
      autoclose: true,
    });
  });

  $(function () {
    $('#expirepicker').datepicker({
      viewMode: 'years',
      format: 'dd-mm-yyyy',
      todayHighlight: true,
      autoclose: true,
    });
  });


  $(function() {
    $('#doc-image').on('click', function() {
      $('#doc-upload').click();
    });
  });

  var loadImage = function(event) {
    var output = document.getElementById('image');
    output.src = URL.createObjectURL(event.target.files[0]);
  };
                                            
  $(document).ready(function(){
    $("#expire").change(function(){
      $(this).find("option:selected").each(function(){
        var optionValue = $(this).attr("value");
        if(optionValue){
          $(".box").not("." + optionValue).hide();
          $("." + optionValue).show();
        } else{
          $(".box").hide();
        }
      });
    }).change();
  });
</script>
<script src="/js/plugins/cascadeSelect.js"></script>
<script>
  var data = [
    {{#each univ.signDetail}}
    {
      text: '{{this.docType}}',
      value: '{{this.docType}}',
      children: [
        {{#each this.signatory}}
        {
          text: '{{this}}',
          value: '{{this}}',
          selected: 'selected'
        },
        {{/each}}
      ]
    },
    {{/each}}
  ];

  $('#certType').cascadingSelect({
    subSelects: ['#signatory'],
    data: data
  });

  $('#certType').on('change',function(){
    //console.log("document type changed")
    optSelect();
  })

  function optSelect(){
    $.each($("#signatory option"), function(){            
      //console.log($(this).val());
      $(this).attr('selected', 'selected')
    });
  }

  optSelect();
  
</script>
<script>

  $('#certId').on('change', function(){
    //console.log('The Document ID is ', this.value)
    $.post("/univ/docid.check", {
      id: this.value,
    }, function(data){
      console.log(data);
      if(!data)
        document.getElementById("scrmsg").innerHTML = '\
        <div class="row">\
          <div class="col-sm-12">\
            <div class="alert alert-danger alert-dismissible" style="text-align: center;">\
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>\
              <strong>Document ID is already taken </strong>\
            </div>\
          </div>\
        </div>'
    });
  })

</script>
<style>
  .box {
    display: none;
  }
</style>