<div class="tile">
  <form action="/univ/student/enroll/{{data.studid}}" method="post">
  <div class="row">
    <div class="container" style="text-align:center;">
      <label><strong>Course Details</strong></label>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Degree</label>
        <select class="form-control" name="degType" id="degType" required>
        {{#each data.degType}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Course</label>
        <select class="form-control" name="degree" id="degree">
        {{#each data.courseDetail}}
          <option value="{{this.degree}}" class="{{this.degType}}">{{this.degree}}</option>
        {{/each}}
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Subject</label>
        <select class="form-control" name="course" id="course">
        {{#each data.courseDetail}}
          <option value="{{this.course}}" class="{{this.degree}} {{this.degType}}">{{this.course}}</option>
        {{/each}}
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Identification Card No</label>
        <input type="text" class="form-control" placeholder="ID card no" pattern="^[0-9]+$" title="Only numbers are allowed" required>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Register No.</label>
        <input type="text" class="form-control" name="regid"  placeholder="register no" pattern="^[0-9]+$" title="Only numbers are allowed" required>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Year</label>
        <div class='input-group date' id='courseDatepicker'>
          <input type='text' class="form-control" name="year" placeholder="2018" required>
          <span class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary btn-block">Enroll Student</button>
    </div>
    <div class="col-md-2">
      <button type="reset" class="btn btn-primary btn-block">Clear all</button>
    </div>
  </div>
  </form>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<script type="text/javascript">
    $(function () {
        $('#courseDatepicker').datepicker({
            viewMode: 'years',
            format: 'yyyy',
            todayHighlight: true,
            autoclose: true,
        });
    });
</script>
<script src="/js/plugins/jquery.chained.js"></script>
<script>
  $("#degree").chained("#degType");
  $("#course").chained("#degree");

  $('#degType').on('change', function() {
    shrinkdegree()
  })

  function shrinkdegree(){
    for (i = 0; i < $('#degree option').length; i++) {
      text = $('#degree option').get(i);
      for (j = i + 1; j < $('#degree option').length; j++) {
        duptext = $('#degree option').get(j);
        if (text.value === duptext.value) {
          $(duptext).remove();
        }
      }
    }  
  }

  shrinkdegree()
</script>
