<div class="tile mb-4">
  <form action="/univ/student" method="get" id="regForm">
      <div class="row">
          <div class="col-md-10">
              <div class="row">
                  <div class="col-md-5 text-right">
                      <label class="m-t-7 f-19"><b>DocChain ID :</b></label>
                  </div>
                  <div class="col-md-7">
                      <div class="form-group">
                        <input type="text" class="form-control" id="usr" name="id" pattern="^[a-f0-9]{24}$" title="Can contain only alphanumeric characters comprised of 'a-f' and '0-9', with a length of 24 characters" required>
                        <input type="text" name="enroll" value="true" style="display:none">
                      </div>
                  </div>
                  <hr>
              </div>
          </div>
      </div>
      <hr>
      <div class="row">
          <div class="col-md-5"></div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-search"></i>Find Person</button>
          </div>
      </div>
  </form>
</div>