<div class="tile mb-4">
  <div class="bs-component">
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#newdoc">New Document</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#olddoc">Old Document</a></li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade active show" id="newdoc">
        <form action="/univ/updoc" method="post">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="form-group col-md-4">
              <label>Register No:</label>
              <input type="text" class="form-control" name="regid" pattern="^[0-9]+$" title="Only Numbers are allowed">
            </div>
          </div>
          <p class="text-center"> --- OR ---</p>			
          <div class="row">
            <div class="form-group col-md-4">
              <label>First Name:</label>
              <input type="text" class="form-control" name="fname" pattern="^[a-zA-Z]+$" title="Only letters are allowed">
            </div>
            <div class="form-group col-md-4">
              <label>Middle Name:</label>
              <input type="text" class="form-control" name="mname" >
            </div>
            <div class="form-group col-md-4">
              <label>Last Name:</label>
              <input type="text" class="form-control" name="lname">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Select Degree</label>
                <select class="form-control" name="degType" id="degType">  
                  <option selected>None</option>    
                {{#each data.degType}}
                  <option value="{{this}}">{{this}}</option>
                {{/each}}
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Select Course</label>
                <select class="form-control" name="degree" id="degree">  
                  <option selected>None</option>    
                {{#each data.courseDetail}}
                  <option value="{{this.degree}}" class="{{this.degType}}">{{this.degree}}</option>
                {{/each}}
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Select Subject</label>
                <select class="form-control" name="course" id="course"> 
                  <option selected>None</option> 
                {{#each data.courseDetail}}
                  <option value="{{this.course}}" class="{{this.degType}} {{this.degree}}">{{this.course}}</option>
                {{/each}}
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Year: </label>
                <div id="datepicker" class="input-group date" data-date-format="yyyy">
                  <input class="form-control" type="text" name="year" readonly />
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-primary btn-block">Search Student</button>
            </div>
          </div>						
        </form>
      </div>
      <div class="tab-pane fade" id="olddoc">
        <p>Old Document procedures starts here</p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<script type="text/javascript">
  $(function () {
    $('#datepicker').datepicker({
      viewMode: 'years',
      format: 'yyyy',
      todayHighlight: true,
      autoclose: true,
    });
  });
</script>
<script src="/js/plugins/jquery.chained.js"></script>
<script>
  $("#degree").chained("#degType");
  $("#course").chained("#degree");

  $('#degType').on('change', function() {
    shrinkdegree()
  })

  function shrinkdegree(){
    for (i = 0; i < $('#degree option').length; i++) {
      text = $('#degree option').get(i);
      for (j = i + 1; j < $('#degree option').length; j++) {
        duptext = $('#degree option').get(j);
        if (text.value === duptext.value) {
          $(duptext).remove();
        }
      }
    }  
  }

  shrinkdegree()
</script>
