<div class="tile">
<h4>Personal Details</h4>
  <div class="row">
    <div class="col-md-8">
      <div class="row border">
        <div class="col-md-3"><p><strong>Name</strong></p></div>
        <div class="col-md-1">:</div>
        <div class="col-md-8"><p>{{data.student.fname}} {{data.student.mname}} {{data.student.lname}}</p></div>
      </div>
      {{#if data.father}}
      <div class="row border">
        <div class="col-md-3"><p><strong>Father's Name</strong></p></div>
        <div class="col-md-1">:</div>
        <div class="col-md-8"><p>{{data.father.fname}} {{data.father.mname}} {{data.father.lname}}</p></div>
      </div>
      {{/if}}
      {{#if data.dob}}
      <div class="row border">
        <div class="col-md-3"><p><strong>Date of Birth</strong></p></div>
        <div class="col-md-1">:</div>
        <div class="col-md-8"><p>{{data.dob}}</p></div>
      </div>
      {{/if}}
      <div class="row border">
        <div class="col-md-3"><p><strong>Email Id</strong></p></div>
        <div class="col-md-1">:</div>
        <div class="col-md-8"><p>{{data.email}}</p></div>
      </div>
      {{#if data.phoneno}}
      <div class="row border">
        <div class="col-md-3"><p><strong>Phone No.</strong></p></div>
        <div class="col-md-1">:</div>
        <div class="col-md-8"><p>{{data.phoneno}}</p></div>
      </div>
      {{/if}}
      <div class="row border">
        <div class="col-md-3"><p><strong>DocChain Id</strong></p></div>
        <div class="col-md-1">:</div>
        <div class="col-md-8"><p>{{data.id}}</p></div>
      </div>
    </div>
    <div class="col-md-4">
      <img src="/students/{{data.pic}}" width="130px" class="img-thumbnail" onerror=this.src="https://dummyimage.com/100x100/bfbfbf/000000.png&text=Student+Pic">
    </div>
  </div>
  {{#if show}}
  <br>
  <h4>Academic Details</h4>
  <div class="row">
    <div class="container">
      <div class="row border">
        <div class="col-sm-2"><p><strong>Register No.</strong></p></div>
        <div class="col-sm-2"><p><strong>Institute Name</strong></p></div>
        <div class="col-sm-6"><p><strong>Course</strong></p></div>
        <div class="col-sm-2"><p><strong>Year</strong></p></div>
      </div>
      {{#each data.course}}
      <div class="row border">
        <div class="col-sm-2"><p>{{this.regid}}</p></div>
        <div class="col-sm-2"><p>{{this.univ}}</p></div>
        <div class="col-sm-6"><p>{{this.degType}}, {{this.degree}}, {{this.course}}</p></div>
        <div class="col-sm-2"><p>{{this.year}}</p></div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}
  {{#if enroll}}
  <br>
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2">
      <a href="/univ/student/enroll/{{data.id}}" class="btn btn-primary btn-block">Enroll</a>
    </div>
  </div>
  {{/if}}
</div>