<form method="POST" action="/univ/updoc">
<div class="row">
  <div class="col-md-4"></div>
  <div class="form-group col-md-4">
    <label>Registration No:</label>
    <input type="text" class="form-control" name="regid" >
  </div>
</div>
<p class="text-center"> --- OR ---</p>
<div class="row">
  <div class="col-md-12">
    <div class="form-group col-md-4">
      <label>First Name:</label>
      <input type="text" class="form-control" name="fname" >
    </div>
    <div class="form-group col-md-4">
      <label>Middle Name:</label>
      <input type="text" class="form-control" name="mname" >
    </div>
    <div class="form-group col-md-4">
      <label>Last Name:</label>
      <input type="text" class="form-control" name="lname" >
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-4">
      <div class="form-group">
        <label>Select Degree</label>
        <select class="form-control"   name="degree">  
          <option value="none" selected>None</option>    
        {{#each data.degree}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Select Course</label>
        <select class="form-control"   name="course"> 
          <option value="none" selected>None</option> 
        {{#each data.course}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Year of Passing: </label>
        <div class='input-group date' id='datepicker'>
          <input type='text' class="form-control" name="year"  />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group col-md-6">
      <label>Email ID:</label>
      <input type="text" class="form-control" name="email"  >
    </div>
    <div class="form-group col-md-6">
      <label>Mobile Number:</label>
      <input type="text" class="form-control" name="phoneno"  >
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-2">
      <button type="submit" class="btn btn-primary btn-block">Search Student</button>
  </div>
</div>
</form>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<script type="text/javascript">
    $(function () {
        $('#datepicker').datepicker({
            viewMode: 'years',
            format: 'yyyy',
            todayHighlight: true,
            autoclose: true,
        });
    });
</script>