<div class="tile">
<h4>Student Profile</h4>
  <div class="row">
    <div class="col-md-8">
      <div class="row border">
        <div class="col-md-3"><p><strong>Name</strong></p></div>
        <div class="col-md-1">:</div>
        <div class="col-md-8"><p>{{data.student.fname}} {{data.student.mname}} {{data.student.lname}}</p></div>
      </div>
      {{#if data.father}}
      <div class="row border">
        <div class="col-md-3"><p><strong>Father's Name</strong></p></div>
        <div class="col-md-1">:</div>
        <div class="col-md-8"><p>{{data.father.fname}} {{data.father.mname}} {{data.father.lname}}</p></div>
      </div>
      {{/if}}
      {{#if data.dob}}
      <div class="row border">
        <div class="col-md-3"><p><strong>Date of Birth</strong></p></div>
        <div class="col-md-1">:</div>
        <div class="col-md-8"><p>{{data.dob}}</p></div>
      </div>
      {{/if}}
      <div class="row border">
        <div class="col-md-3"><p><strong>Email Id</strong></p></div>
        <div class="col-md-1">:</div>
        <div class="col-md-8"><p>{{data.email}}</p></div>
      </div>
      {{#if data.phoneno}}
      <div class="row border">
        <div class="col-md-3"><p><strong>Phone No.</strong></p></div>
        <div class="col-md-1">:</div>
        <div class="col-md-8"><p>{{data.phoneno}}</p></div>
      </div>
      {{/if}}
      <div class="row border">
        <div class="col-md-3"><p><strong>Register No.</strong></p></div>
        <div class="col-md-1">:</div>
        <div class="col-md-8"><p>{{course.regid}}</p></div>
      </div>
      <div class="row border">
        <div class="col-md-3"><p><strong>Institute Name</strong></p></div>
        <div class="col-md-1">:</div>
        <div class="col-md-8"><p>{{course.univ}}</p></div>
      </div>
      <div class="row border">
        <div class="col-md-3"><p><strong>Course Details</strong></p></div>
        <div class="col-md-1">:</div>
        <div class="col-md-8"><p>{{course.degType}}, {{course.degree}}, {{course.course}}, {{course.year}}</p></div>
      </div>
    </div>
    <div class="col-md-4">
      <img src="/students/{{data.pic}}" width="130px" class="img-thumbnail" onerror=this.src="https://dummyimage.com/100x100/bfbfbf/000000.png&text=Student+Pic">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-2">
      <a href="/univ/student/enroll.course" class="btn btn-primary btn-block">Confirm and Complete</a>
    </div>
    <div class="col-md-2">
      <a href="/univ/session.clear/course" class="btn btn-primary btn-block">Cancel</a>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
