<div id="accordion">
<div class="row">
  <div class="col-md-4">
    <button class="btn btn-primary btn-block" onclick="$('#add').collapse('show');$('#enroll').collapse('hide');$('#find').collapse('hide');">Add Student</a>
  </div>
  <div class="col-md-4">
    <button class="btn btn-primary btn-block" onclick="$('#add').collapse('hide');$('#enroll').collapse('show');$('#find').collapse('hide');">Enroll Student</a>
  </div>
  <div class="col-md-4">
    <buttona class="btn btn-primary btn-block" onclick="$('#add').collapse('hide');$('#enroll').collapse('hide');$('#find').collapse('show');">Find Student</a>
  </div>
</div>

<div id="add" class="collapse">
  <hr>
  <h3>Add Student</h3>
  <form action="/univ/student/add" method="post" enctype="multipart/form-data">
  <div class="row">
    <div class="col-md-10">
      <label>Student's Name:</label>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>First Name:</label>
            <input type="text" class="form-control" name="sfname" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Middle Name:</label>
            <input type="text" class="form-control" name="smname" >
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Last Name:</label>
            <input type="text" class="form-control" name="slname" >
          </div>
        </div>
      </div>
      <label>Father's Name:</label>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" name="ffname" >
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Middle Name</label>
            <input type="text" class="form-control" name="fmname" >
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" name="flname" >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <input id="profile-image-upload" class="hidden" type="file" name="fsub" accept="image/*" onchange="$('#image').attr('src', window.URL.createObjectURL(this.files[0]))" oninvalid="alert('You must attach a profile image.');" required>
      <div id="profile-image">
        <div class="text-center">
          <img src="https://dummyimage.com/100x100/bfbfbf/000000.png&text=Student+Pic" class="thumbnail" style="cursor: pointer; height: 135px; margin-top:50px" id="image">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label>Date of Birth</label>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <div class='input-group date' id='dobdatepicker'>
          <input type='text' class="form-control" name="dob" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label>Email</label>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <input type="text" class="form-control" name="email"  placeholder="username@mail.com" required>
      </div>
    </div>
    <div class="col-md-2">
      <label>Contact No.</label>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <input type="text" class="form-control" name="phoneno"  placeholder="+91-9876543210">
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-2">
      <button type="reset" class="btn btn-primary btn-block">Clear all</button>
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary btn-block">Create Student</button>
    </div>
  </div>
  </form>
</div>

<div id="enroll" class="collapse">
  <hr>
  <h3>Enroll Student</h3>
  <form action="/univ/student/enroll" method="post">
  <div class="row">
    <div class="col-md-2">
      <label>Print2Block ID</label>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <input type="text" class="form-control" name="id"  placeholder="" required>
      </div>
    </div>
    <div class="col-md-2">
      <label>Register No.</label>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <input type="text" class="form-control" name="regid"  placeholder="201804118" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container"><label style="text-align:center;">Course Details</label></div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Degree Type</label>
        <select class="form-control" name="degType" >
          <option selected>None</option>    
        {{#each data.degType}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Degree</label>
        <select class="form-control" name="degree" >
          <option selected>None</option>    
        {{#each data.degree}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Course</label>
        <select class="form-control" name="course">
          <option selected>None</option>    
        {{#each data.course}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container"><label style="text-align:center;">Duration</label></div>
    <div class="col-md-2">
      <label>Year of enrollment</label>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <div class='input-group date' id='courseStartDatepicker'>
          <input type='text' class="form-control" name="yearStart" placeholder="2014"/>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <label>Year of completion</label>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <div class='input-group date' id='courseEndDatepicker'>
          <input type='text' class="form-control" name="yearEnd" placeholder="2018"/ required>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-2">
      <button type="reset" class="btn btn-primary btn-block">Clear all</button>
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary btn-block">Enroll Student</button>
    </div>
  </div>
  </form>
</div>

<div id="find" class="collapse in">
  <hr>
  <h3>Find Student/s</h3>
  <form method="POST" action="/univ/student/list">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="form-group col-md-4">
        <label>Registration No:</label>
        <input type="text" class="form-control" name="regid" >
      </div>
    </div>
    <p class="text-center"> --- OR ---</p>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group col-md-4">
          <label>First Name:</label>
          <input type="text" class="form-control" name="fname" >
        </div>
        <div class="form-group col-md-4">
          <label>Middle Name:</label>
          <input type="text" class="form-control" name="mname" >
        </div>
        <div class="form-group col-md-4">
          <label>Last Name:</label>
          <input type="text" class="form-control" name="lname" >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="form-group">
            <label>Select Degree</label>
            <select class="form-control" name="degree">  
              <option selected>None</option>    
            {{#each data.degree}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Select Course</label>
            <select class="form-control" name="course"> 
              <option selected>None</option> 
            {{#each data.course}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Year of Passing: </label>
            <div class='input-group date' id='datepicker'>
              <input type='text' class="form-control" name="yearEnd"  />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--
    <div class="row">
      <div class="col-md-12">
        <div class="form-group col-md-6">
          <label>Email ID:</label>
          <input type="text" class="form-control" name="email"  >
        </div>
        <div class="form-group col-md-6">
          <label>Mobile Number:</label>
          <input type="text" class="form-control" name="phoneno"  >
        </div>
      </div>
    </div>
    -->
    <hr>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-2">
          <button type="reset" class="btn btn-primary btn-block">Clear all</button>
      </div>
      <div class="col-md-2">
          <button type="submit" class="btn btn-primary btn-block">Search Student</button>
      </div>
    </div>
  </form>
</div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<script type="text/javascript">
    $(function () {
        $('#dobdatepicker').datepicker({
            viewMode: 'years',
            format: 'mm-dd-yyyy',
            todayHighlight: true,
            autoclose: true,
        });
    });
    $(function () {
        $('#courseStartDatepicker').datepicker({
            viewMode: 'years',
            format: 'yyyy',
            todayHighlight: true,
            autoclose: true,
        });
    });
    $(function () {
        $('#courseEndDatepicker').datepicker({
            viewMode: 'years',
            format: 'yyyy',
            todayHighlight: true,
            autoclose: true,
        });
    });
    $(function () {
        $('#datepicker').datepicker({
            viewMode: 'years',
            format: 'yyyy',
            todayHighlight: true,
            autoclose: true,
        });
    });
    $(function() {
        $('#profile-image').on('click', function() {
            $('#profile-image-upload').click();
        });
    });

    var loadImage = function(event) {
        var output = document.getElementById('image');
        output.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
