<div class="tile mb-4">
  <div class="row">
    <div class="col-md-8">
      <div class="col-md-12 col-sm-12">
        <table class="table">
          <tbody style="border: 1px solid #ccc;">
            <tr>
            <td>Name</td>
            <td>:</td>
            <td>{{data.student.fname}} {{data.student.mname}} {{data.student.lname}}</td>
            </tr>
            <tr>
            <td>Date of Birth</td>
            <td>:</td>
            <td>{{data.dob}}</td>
            </tr>
            <tr>
            <td>Register No.</td>
            <td>:</td>
            <td>{{data.course.0.regid}}</td>
            </tr>
            <tr>
            <td>Course</td>
            <td>:</td>
            <td>{{data.course.0.degType}} {{data.course.0.degree}} {{data.course.0.course}}, {{data.course.0.year}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-4" style="text-align:center">
      <img src="../../students/{{data.pic}}" width="130px" class="img-thumbnail" onerror=this.src="https://dummyimage.com/100x100/bfbfbf/000000.png&text=Student+Pic">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <a href="/univ/docdetail/{{data.course.0.regid}}" class="btn btn-primary btn-block">Upload Document For The Student</a>
    </div>
  </div>
</div>