<br>
<br>
<div style="text-align: center;">
  <img src="../../img/404.png" width="40%">
</div>
<br>
<br>
<br>
<br>
<div style="text-align: center;">
The page you are trying to access does not exist
</div>
<br>
<div style="text-align: center;">
<a href="/" class="btn btn-primary">Home</a>
</div>
<br>
<br>