<div class="panel panel-default"> 
  <div class="panel-heading" style="text-align: center;"><h3>Reset password</h3></div>
  <div class="panel-body">
    <div class="col-sm-12">
      <p style="word-wrap: break-word;"><strong>Note: </strong>You are resetting your account password. Get your <strong>RESET TOKEN</strong> from your registered email account({{email}}).</p>
      <br>
      <form action="/changepwd" method="post" id="form" name="form">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Email Id</label>
              <input type="email" class="form-control" name="email" value="{{email}}" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Reset Token</label>
              <input type="text" class="form-control" name="token" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>New Password</label>
              <input type="text" class="form-control" id="passwd" name="passwd">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Confirm Password</label>
              <input type="text" class="form-control" id="cpasswd">
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4 col-md-4"></div>
          <div class="col-sm-4 col-md-4">
            <button type="submit" id="btn" class="btn btn-primary btn-block" disabled>Change Password</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  $('#cpasswd, #passwd').on('input', function() {
    //console.log(document.form.name.value)
    if(document.form.passwd.value == document.form.cpasswd.value && document.form.passwd.value != '')
      $("#btn").removeAttr("disabled");
    else
      $("#btn").attr("disabled", "disabled"); 
  });
</script>