<section class="material-half-bg">
  <div class="cover">
    {{#if message.success}}
    <div class="row">
      <div class="col-sm-3 col-1"></div>
      <div class="alert alert-success col-sm-6 col-10" style="text-align: center;" id="alert"><strong>{{message.success}}</strong></div>
    </div>
    {{/if}}
    {{#if message.error}}
    <div class="row">
      <div class="col-sm-3 col-1"></div>
      <div class="alert alert-danger col-sm-6 col-10" style="text-align: center;" id="alert"><strong>{{message.error}}</strong></div>
    </div>
    {{/if}}    
  </div>
</section>
<section class="login-content">
  <div class="logo"></div>
  <div class="login-box">
    <form class="login-form" method="POST" action="/">
      <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>SIGN IN</h3>
      <div class="form-group">
        <label class="control-label">EMAIL</label>
        <input class="form-control" type="email" name="email" placeholder="Email address" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Only letter, numbers and symbols such as ._%+- are allowed" required autofocus>
      </div>
      <div class="form-group">
        <label class="control-label">PASSWORD</label>
        <input class="form-control" type="password" name="passwd" placeholder="Password" required>
      </div>
      <div class="form-group">
        <div class="utility">
          <p class="semibold-text mb-2"><a href="#" data-toggle="flip" onclick="">Forgot Password ?</a></p>
        </div>
      </div>
      <div class="form-group btn-container">
        <button class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>SIGN IN</button>
      </div>
    </form>
    <form class="forget-form" action="/forgotpwd" method="post">
      <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>Forgot Password ?</h3>
      <div class="form-group">
        <label class="control-label">EMAIL</label>
        <input class="form-control" type="email" name="email" placeholder="Email">
      </div>
      <div class="form-group btn-container">
        <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-unlock fa-lg fa-fw"></i>RESET</button>
      </div>
      <div class="form-group mt-3">
        <p class="semibold-text mb-0"><a href="#" data-toggle="flip"><i class="fa fa-angle-left fa-fw"></i> Back to Login</a></p>
      </div>
    </form>
  </div>
</section>
<script src="../../js/plugins/pace.min.js"></script>
<script type="text/javascript">
  // Login Page Flipbox control
  $('.login-content [data-toggle="flip"]').click(function() {
    console.log('Forgot password is executed')
    $('.login-box').toggleClass('flipped');
    return false;
  });
  {{#if message.success}}
  document.getElementById('alert').style.marginTop = ($('.login-box')['0'].offsetTop - $('#alert')['0'].offsetHeight)/2 + 'px';
  {{/if}}
  {{#if message.error}}
  document.getElementById('alert').style.marginTop = ($('.login-box')['0'].offsetTop - $('#alert')['0'].offsetHeight)/2 + 'px';
  {{/if}}
</script>
