<div class="tile">
  <form action="/org/customer/add" method="post" enctype="multipart/form-data">
  <div class="row">
    <div class="col-md-10">
      <label><strong>Customer's Name:</strong></label>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" name="sfname" pattern="^[a-zA-Z ]+$" title="Only letters and space are allowed" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Email</label>
          <div class="form-group">
            <input type="text" class="form-control" name="email"  placeholder="username@mail.com" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Only letter, numbers and symbols such as ._%+- are allowed" required>
          </div>
        </div>
        <div class="col-md-6">
          <label>Contact No.</label>
          <div class="form-group">
            <input type="text" class="form-control" name="phoneno"  placeholder="+xx-xxxxxxxxxx" pattern="^[+]+[0-9]{2}[-]+[0-9]{10}$" title="The value should be as +xx-xxxxxxxxxx, only numbers" required>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <input id="profile-image-upload" class="hidden" type="file" name="fsub" accept="image/*" onchange="$('#image').attr('src', window.URL.createObjectURL(this.files[0]))" oninvalid="$('#image').attr('src','https://dummyimage.com/157x157/ff0000/ffffff.png&text=Erorr+Required')" required>
      <div id="profile-image">
        <div class="text-center">
          <img src="https://dummyimage.com/157x157/9f9f9f/000000.png&text=Customer+Pic" class="img-thumbnail" style="cursor: pointer; height: 157px; margin-top:50px;" id="image">
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary btn-block">Create Customer</button>
    </div>
    <div class="col-md-2">
      <button type="reset" class="btn btn-primary btn-block">Clear all</button>
    </div>
  </div>
  </form>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<script type="text/javascript">
  $(function () {
    $('#dobdatepicker').datepicker({
      viewMode: 'years',
      format: 'dd-mm-yyyy',
      todayHighlight: true,
      autoclose: true,
    });
  });

  $(function() {
    $('#profile-image').on('click', function() {
      $('#profile-image-upload').click();
    });
  });

  var loadImage = function(event) {
    var output = document.getElementById('image');
    output.src = URL.createObjectURL(event.target.files[0]);
  };
</script>
