<div class="tile mb-4">
  <div class="bs-component">
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#newdoc">New Document</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#olddoc">Old Document</a></li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade active show" id="newdoc">
        <form action="/org/updoc" method="post">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="form-group col-md-4">
              <label>Customer No:</label>
              <input type="text" class="form-control" name="id">
            </div>
          </div>
          <p class="text-center"> --- OR ---</p>			
          <div class="row">
            <div class="form-group col-md-4">
              <label>Customer's Name:</label>
              <input type="text" class="form-control" name="fname" pattern="^[a-zA-Z ]+$" title="Only letters are allowed">
            </div>
            <div class="form-group col-md-4">
              <label>Email Id:</label>
              <input type="text" class="form-control" name="email" >
            </div>
            <div class="form-group col-md-4">
              <label>Phone No:</label>
              <input type="text" class="form-control" name="phoneno">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-primary btn-block">Search Customers</button>
            </div>
          </div>						
        </form>
      </div>
      <div class="tab-pane fade" id="olddoc">
        <p>Old Document procedures starts here</p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<script type="text/javascript">
  $(function () {
    $('#datepicker').datepicker({
      viewMode: 'years',
      format: 'yyyy',
      todayHighlight: true,
      autoclose: true,
    });
  });
</script>
<script src="/js/plugins/jquery.chained.js"></script>
<script>
  $("#degree").chained("#degType");
  $("#course").chained("#degree");

  $('#degType').on('change', function() {
    shrinkdegree()
  })

  function shrinkdegree(){
    for (i = 0; i < $('#degree option').length; i++) {
      text = $('#degree option').get(i);
      for (j = i + 1; j < $('#degree option').length; j++) {
        duptext = $('#degree option').get(j);
        if (text.value === duptext.value) {
          $(duptext).remove();
        }
      }
    }  
  }

  shrinkdegree()
</script>
