<div class="tile mb-4">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
      <table class="table">
        <tbody style="border: 1px solid #ccc;">
          <tr>
            <td>Customer Name</td>
            <td>:</td>
            <td>{{data.student.fname}} {{data.student.mname}} {{data.student.lname}}</td>
          </tr>
          <tr>
            <td>Customer Id.</td>
            <td>:</td>
            <td>{{data._id}}</td>
          </tr>
          <tr>
            <td>Type of Document</td>
            <td>:</td>
            <td>{{doc.docType}}</td>
          </tr>
          <tr>
            <td>Document No.</td>
            <td>:</td>
            <td>{{doc.udocId}}</td>
          </tr>
          <tr>
            <td>Issued Date</td>
            <td>:</td>
            <td>{{doc.doi}}</td>
          </tr>
          <tr>
            <td>Expire Date</td>
            <td>:</td>
            <td>{{#if doc.edate}}{{doc.edate}}{{else}}Never{{/if}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2" class="text-center">
      <img src="../../customers/{{data.pic}}" width="130px" style="margin-top:90px" class="img-responsive thumbnail" onerror=this.src="https://dummyimage.com/100x100/bfbfbf/000000.png&text=Customer+Pic">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <img src="../../{{user.id}}/{{doc.filename}}" style="margin: 0 auto;" width="100%" class="img-responsive thumbnail" onerror=this.src="https://dummyimage.com/600x500/bfbfbf/000000.png&text=Certificate">
    </div>
    <div class="col-md-4"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <input class="form-control" type="text" name="hash" id="hash" form="p2b" style="display: none; width: 570px; font-family: 'Lucida Console';" value="{{doc.hash}}" readonly>
      <p style="text-align:center"><strong>Signature</strong></p>
      <textarea class="form-control" type="text" name="signature" id="signature" form="p2b" style="margin: 0 auto; width: 630px; height: 60px; font-family: 'Lucida Console';" readonly></textarea>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2"><button type="submit" name="sign" id="sign"  data-toggle="modal" data-target="#signHash" class="btn btn-primary block" style="width: 100%;">Sign</button></div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <form method="POST" action="/org/confirm/" id="p2b" name="p2b">
        <button type="submit" class="btn btn-primary block" id='publish' style="width: 100%;" disabled>Publish to Blockchain and Email Customer</button>
      </form>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2"><button type="submit" class="btn btn-primary block" style="width: 100%;">Cancel</button></div>
  </div>
</div>

<div class="modal fade" id="signHash" role="dialog">
  <div class="modal-dialog modal-md-6">
    <div class="alert alert-info alert-dismissible" style="width: 600px; height: 500px;">
      <a href="#" class="close" data-dismiss="modal" aria-label="close">&times;</a>
      <textarea class="form-control block" name="prikey" id="prikey" onfocus="this.value=''" style="margin-top: 75px; width: 570px; height: 320px; font-family: 'Lucida Console';"></textarea>
      <br>
      <button  class="form-control" type="submit" style="width: 285px; text-align: center" onclick="doSign()" data-dismiss="modal"></button>
      <img src="../../img/keyfob.png" width="600px" style="margin-top: -445px; margin-left: -21px">
    </div>
  </div>
</div>

<script src="../../js/jsrsasign-latest-all-min.js"></script>
<script>
  $("#sign").click(function() {
    setTimeout(function () {$("#prikey").focus()}, 750);
  })
{{#if user.isRSA}}
  function doSign() {
    var rsa = new RSAKey();
    rsa.readPrivateKeyFromPEMString($('#prikey').val());
    console.log(document.p2b.hash.value)
    var hSig = rsa.sign(document.p2b.hash.value, 'sha256');
    document.p2b.signature.textContent = hSig
    //console.log(hSig)
    $("#publish").removeAttr("disabled");
    $("#sign").attr("disabled", "disabled"); 
  }
{{else}} 
  function doSign() {
    var sig = new KJUR.crypto.Signature({"alg": 'SHA256withECDSA'});
    sig.init({d: $('#prikey').val(), curve: 'secp256r1'});
    sig.updateString(document.p2b.hash.value);
    var sigValueHex = sig.sign();
    document.p2b.signature.textContent = sigValueHex;
    $("#publish").removeAttr("disabled");
    $("#sign").attr("disabled", "disabled"); 
  }
{{/if}} 

</script>
