<div class="tile">
<h4>Personal Details</h4>
  <div class="row">
    <div class="col-md-8">
      <div class="row border">
        <div class="col-md-3"><p><strong>Customers Name</strong></p></div>
        <div class="col-md-1">:</div>
        <div class="col-md-8"><p>{{data.student.fname}} {{data.student.mname}} {{data.student.lname}}</p></div>
      </div>
      {{#if data.father}}
      {{/if}}
      {{#if data.dob}}
      {{/if}}
      <div class="row border">
        <div class="col-md-3"><p><strong>Email Id</strong></p></div>
        <div class="col-md-1">:</div>
        <div class="col-md-8"><p>{{data.email}}</p></div>
      </div>
      {{#if data.phoneno}}
      <div class="row border">
        <div class="col-md-3"><p><strong>Phone No.</strong></p></div>
        <div class="col-md-1">:</div>
        <div class="col-md-8"><p>{{data.phoneno}}</p></div>
      </div>
      {{/if}}
      <div class="row border">
        <div class="col-md-3"><p><strong>Customer Id</strong></p></div>
        <div class="col-md-1">:</div>
        <div class="col-md-8"><p>{{data.id}}</p></div>
      </div>
    </div>
    <div class="col-md-4">
      <img src="/customers/{{data.pic}}" width="130px" class="img-thumbnail" onerror=this.src="https://dummyimage.com/100x100/bfbfbf/000000.png&text=Customer+Pic">
    </div>
  </div>
</div>
