<div class="tile mb-4">
  <div class="row">
    <div class="col-md-8">
      <div class="col-md-12 col-sm-12">
        <table class="table">
          <tbody style="border: 1px solid #ccc;">
            <tr>
            <td>Customer's Name</td>
            <td>:</td>
            <td>{{data.student.fname}} {{data.student.mname}} {{data.student.lname}}</td>
            </tr>
            <tr>
            <td>Email Id</td>
            <td>:</td>
            <td>{{data.email}}</td>
            </tr>
            <tr>
            <td>Phone No.</td>
            <td>:</td>
            <td>{{data.phoneno}}</td>
            </tr>
            <tr>
            <td>Customer's No.</td>
            <td>:</td>
            <td>{{data.id}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-4" style="text-align:center">
      <img src="../../customers/{{data.pic}}" width="130px" class="img-thumbnail" onerror=this.src="https://dummyimage.com/100x100/bfbfbf/000000.png&text=Customer+Pic">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <a href="/org/docdetail" class="btn btn-primary btn-block">Upload Document For The Customers</a>
    </div>
  </div>
</div>
